<template v-if = "tableRows.length > 0">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "panel panel-default">
                <div class = "panel-heading">
                    <h3 class = "panel-title">Approved Referrals (today)</h3>
                </div>
                <div class = "panel-body" style = "padding: 20px">
                    <div class = "panel panel-default">
                        <table class = "table table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th class = "text-center">#</th>
                                <th class = "text-center">Date</th>
                                <th class = "text-center">Procedure</th>
                                <th class = "text-center">Test ID</th>
                                <th class = "text-center">Physician</th>
                                <th class = "text-center">Patient ID</th>
                                <th class = "text-center">Decision</th>
                                <th class = "text-center">Indication</th>
                                <th class = "text-center">Supervisor Decision</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for = "(row,index) in tableRows" :key = "index">
                                <td>{{ index + 1 }}</td>
                                <td>{{ row.created_at }}</td>
                                <td>{{ row.proc_title }}</td>
                                <td>{{ row.id }}</td>
                                <td>{{ row.physician_name }}</td>
                                <td>{{ row.patient_id }}</td>
                                <td>{{ row.decision_code }}</td>
                                <td>{{ row.is_indication }}</td>
                                <td>{{ row.supervisor_decision }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import Vue from 'vue';
  
  export default {
    data ()
    {
      return {
        tableRows: [],
        connection: 'local',
      };
    },
    computed: {
      url ()
      {
        return `/client-reports/${clientId}/${this.connection}/0/1`;
      },
    },
    created ()
    {
      this.fetchData();
    },
    mounted ()
    {
      this.$events.on('decision-updated', eventData => this.fetchData());
    },
    methods: {
      fetchData ()
      {
        axios.get(this.url).then(response => {
          this.tableRows = response.data;
        });
      },
    },
  };
</script>