<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Procedure Abbreviations</h3>
    </div>
    <div class="panel-body">
      <span v-for="(item,index) in procedures"><b>{{item.abbreviation}}</b> - {{item.title}} <span v-if="index != procedures.length -1"> | </span></span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      procedures: {}
    };
  },
  created() {
    axios.get(`/procedures-abbreviations/${userCategory}`).then(response => {
      let arr = this._.toArray(response.data);
      this.procedures = arr;
    });
  }
};
</script>