<template>
  <div class="col-md-4">
    <div class="panel panel-default" id="root">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Single physician referrals</h3>
        <div class="btn-group-xs pull-right">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Physician <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li v-for="physician in physicians" :key="physician">
              <a @click.prevent="setPhysician" href="#" v-text="physician"></a>
            </li>
          </ul>
        </div>
        <div class="btn-group-xs pull-right">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Group by <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a @click.prevent="groupByProcedure" href="#">procedures</a>
            </li>
            <li>
              <a @click.prevent="groupByIndication" href="#">indication</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <doughnut-chart v-if="show" :datacollection="datacollection" :height="300"></doughnut-chart>
      </div>
      <div class="panel-footer">
        Physician: <strong>{{physician}}</strong> | Group: <strong>{{group}}</strong>
      </div>
    </div>
  </div>
</template>

<script>
import DoughnutChart from "./DoughnutChart.vue";

export default {
  components: { DoughnutChart },
  data() {
    return {
      show: false,
      from: 1,
      to: 12,
      testsCount: [],
      physicians: [],
      physician: "",
      group: "procedure",
      datacollection: {
        labels: [],
        datasets: [
          {
            backgroundColor: [
              "#d9534f",
              "#5cb85c",
              "#428bca",
              "#5bc0de",
              "#f0ad4e",
              "#f6546a",
              "#088da5",
              "#20b2aa",
              "#ffff66",
              "#a0db8e",
              "#ffa500"
            ],
            label: "Tests",
            data: []
          }
        ]
      }
    };
  },
  computed: {
    procedures() {
      return this.testsCount.map(monthlyCount => {
        console.log(monthlyCount);
        return monthlyCount.procedure;
      });
    },
    count() {
      return this.testsCount.map(monthlyCount => {
        return monthlyCount.count;
      });
    },
    countIndication() {
      let indicationCount = this.testsCount[0];
      return [
        indicationCount.count - Number(indicationCount.indicated),
        Number(indicationCount.indicated)
      ];
    }
  },
  async mounted() {
    await this.getPhysicians();
    this.groupByProcedure();
  },
  methods: {
    groupByProcedure() {
      this.show = false;
      this.group = "procedure";
      this.getTestsCount().then(() => {
        this.datacollection.labels = this.procedures;
        this.datacollection.datasets[0].data = this.count;
        this.show = true;
      });
    },
    groupByIndication() {
      console.log("grouping");
      this.show = false;
      this.group = "indication";
      this.getTestsCount().then(() => {
        this.datacollection.labels = ["Not Approved", "Approved"];
        this.datacollection.datasets[0].data = this.countIndication;
        this.show = true;
      });
    },

    setPhysician(event) {
      this.physician = event.target.text;
      this.$nextTick(() => {
        if (this.group === "indication") {
          this.groupByIndication();
        } else if (this.group === "procedure") {
          this.groupByProcedure();
        }
      });
    },

    getPhysicians() {
      return axios.get(`/client-physicians/${clientId}`).then(response => {
        this.physicians = response.data;
        this.physician = this.physicians[1];
      });
    },

    getTestsCount() {
      return axios
        .get(
          `/count-tests/${this.from}/${this.to}/${this.group}/${this.physician}`
        )
        .then(response => {
          this.testsCount = response.data;
        });
    }
  }
};
</script>

<style scoped>
.pull-right > .dropdown-menu {
  right: 30px;
  top: 33px;
}

.panel-heading {
  padding-bottom: 0px;
}

.panel-body {
  min-height: 340px;
}
</style>