<template>
  <div class="col-md-4">
    <div class="panel panel-default" id="root">
      <div class="panel-heading">
        <h3 class="panel-title">Total referrals by month</h3>
      </div>
      <div class="panel-body">
        <bar-chart v-if="show" :datacollection="datacollection" :height="300"></bar-chart>
      </div>
      <div class="panel-footer">
        {{aYearAgo}} - {{today}}
      </div>
    </div>
  </div>
</template>

<script>
import BarChart from "./BarChart.vue";

export default {
  components: { BarChart },
  data() {
    return {
      today: "",
      aYearAgo: "",
      show: false,
      from: 1,
      to: 12,
      testsCount: [],
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      datacollection: {
        labels: [],
        datasets: [
          {
            backgroundColor: "#428bca",
            label: "Total",
            data: []
          },
          {
            backgroundColor: "#C9302C",
            label: "Not approved",
            data: []
          },
          {
            backgroundColor: "#5CB85C",
            label: "Approved",
            data: []
          }
        ]
      }
    };
  },
  computed: {
    computedMonth() {
      return this.testsCount.map(monthlyCount => {
        console.log(monthlyCount);
        let month = monthlyCount.month - 1;
        let formattedMonth = this.months[month];
        return formattedMonth;
      });
    },
    computedCount() {
      return this.testsCount.map(monthlyCount => {
        return monthlyCount.count;
      });
    },
    notIndicated() {
      return this.testsCount.map(count => {
        return count.count - Number(count.indicated);
      });
    },
    indicated() {
      return this.testsCount.map(count => {
        return Number(count.indicated);
      });
    }
  },
  methods: {
    getFormattedDate(day, month, year) {
      let dd = day;
      let mm = month + 1; //January is 0!
      let yyyy = year;

      if (dd < 10) dd = "0" + dd;
      if (mm < 10) mm = "0" + mm;

      return dd + "/" + mm + "/" + yyyy;
    }
  },
  mounted() {
    axios.get(`/count-tests/${this.from}/${this.to}`).then(response => {
      this.testsCount = response.data;
      this.datacollection.labels = this.computedMonth;
      this.datacollection.datasets[0].data = this.computedCount;
      this.datacollection.datasets[1].data = this.notIndicated;
      this.datacollection.datasets[2].data = this.indicated;
      this.show = true;
    });
    let date = new Date();
    this.today = this.getFormattedDate(
      date.getDate(),
      date.getMonth(),
      date.getFullYear()
    );
    this.aYearAgo = this.getFormattedDate(
      date.getDate(),
      date.getMonth(),
      date.getFullYear() - 1
    );
  }
};
</script>

<style scoped>
.panel-body {
  min-height: 340px;
}
</style>