<template>
    <div class = "col-md-4">
        <div class = "panel panel-default" id = "root">
            <div :class = "{'panel-heading': true, 'clearfix': true, 'no-bottom-padding': physiciansTable}">
                <h3 class = "panel-title pull-left">{{title}}</h3>
                <button v-if="physiciansTable" @click="defaultView" class="btn btn-default btn-xs pull-right">Back</button>
            </div>
            <div class = "panel-body" style = "overflow-y: auto">
                <table class = "table" v-if = "proceduresTable">
                    <thead>
                    <tr>
                        <th class = "text-center">Procedure</th>
                        <th class = "text-center">Approved</th>
                        <th class = "text-center">Denied</th>
                        <th class = "text-center">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for = "test in testsByProcedure" :key="test.procedure" class = "text-center hover-pointer" @click = "changeView(test.proc_id,test.procedure)">
                        <td v-popover.hover="{title:'Procedure title', content:test.procedure_title}" type="primary">{{test.procedure}} ({{test.proc_id}})</td>
                        <td>{{test.indicated}} ({{(test.indicated / test.count * 100).toFixed(2)}}%)</td>
                        <td>
                            {{test.count - Number(test.indicated)}} ({{((test.count - Number(test.indicated)) / test.count * 100).toFixed(2)}}%)
                        </td>
                        <td>{{test.count}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class = "table" v-if = "physiciansTable">
                    <thead>
                    <tr>
                        <th class = "text-center">Physician</th>
                        <th class = "text-center">Approved</th>
                        <th class = "text-center">Denied</th>
                        <th class = "text-center">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for = "test in testByPhysician" :key="test.physician" class = "text-center hover-pointer" @click = "changeView(test.proc_id)">
                        <td>{{test.physician}}</td>
                        <td>{{test.indicated}} ({{(test.indicated / test.count * 100).toFixed(2)}}%)</td>
                        <td>
                            {{test.count - Number(test.indicated)}} ({{((test.count - Number(test.indicated)) / test.count * 100).toFixed(2)}}%)
                        </td>
                        <td>{{test.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        show: false,
        title: "Total referrals by procedure",
        proceduresTable: false,
        physiciansTable: false,
        from: 1,
        to: 12,
        testsByProcedure: [],
        testByPhysician: []
      };
    },
    methods: {
      changeView(proc_id, procedure = "") {
        axios
          .get(
            `/count-tests/${this.from}/${this.to}/physician_name?proc=${proc_id}`
          )
          .then(response => {
            this.testByPhysician = response.data;
            this.title = `referrals for procedure ${procedure} by physician`;
            this.proceduresTable = false;
            this.physiciansTable = true;
          });
      },

      defaultView() {
        this.title = "Total referrals by procedure";
        this.physiciansTable = false;
        this.proceduresTable = true;
      }
    },
    computed: {
      physicians() {
        return this.testsCount.map(monthlyCount => {
          return monthlyCount.physician;
        });
      },
      total() {
        return this.testsCount.map(monthlyCount => {
          return monthlyCount.count;
        });
      },
      notIndicated() {
        return this.testsCount.map(count => {
          return count.count - Number(count.indicated);
        });
      },
      indicated() {
        return this.testsCount.map(count => {
          return Number(count.indicated);
        });
      }
    },
    mounted() {
      axios
        .get(`/count-tests/${this.from}/${this.to}/procedure`)
        .then(response => {
          this.testsByProcedure = response.data;
          this.proceduresTable = true;
        });
    }
  };
</script>

<style scoped>
  .panel-body {
    height: 380px;
  }

  .hover-pointer:hover {
    cursor: pointer;
  }

  .no-bottom-padding {
    padding-bottom: 0px;
  }
</style>