<template>
    <div :class="{'form-group': true, 'has-error': validationErrors}">
        <label class="typo__label">{{ title }}</label>
        <multiselect :value="value" placeholder="Search or add a tag" :options="options" :multiple="true" :taggable="true" :searchable="true" :loading="loading" :options-limit="300" :show-no-results="false" :hide-selected="true" open-direction="bottom" @tag="$emit('add-tag',$event)" @select="$emit('add-tag',$event)" @remove="$emit('remove-tag',$event)" @search-change="$emit('search-change',$event)" @open="$emit('open',$event)" @input="$emit('input',$event)">
        </multiselect>
        <span class="help-block" v-if="validationErrors">{{ validationErrors }}</span>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
  props: {
    value: {
      type: Array,
      required: true
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    title: {
      type: String,
      required: true
    },
    options: {
      type: Array,
      required: true
    },
    validationErrors: {
      type: String | null,
      required: false,
      default: null
    }
  },
  components: { Multiselect }
};
</script>
<style>
.blue {
  background-color: blue;
}
</style>
