<template>
    <div :class="{'form-group': true, 'has-error': validationErrors}">
        <label class="cut-text">{{title}}</label>
        <input type="text"
               :value="value"
               :placeholder="placeholder"
               :name="name"
               class="form-control"
               spellcheck="true"
               :disabled="disabled"
               @input="$emit('input',$event)"
               @keypress="$emit('keypress', $event)">
        <span class="help-block"
              v-if="validationErrors">{{ validationErrors }}</span>
    </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String | null | Number,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: false
    },
    disabled: {
      type: Boolean | String | null,
      required: false,
      default: false
    },
    validationErrors: {
      type: String | null,
      required: false,
      default: null
    }
  }
};
</script>