<template>
  <div :class="{'tag-wrapper': true, 'form-group': true, 'has-error': error || validationErrors, 'has-success': success }">
    <label class="cut-text">{{ title }}</label>
    <at-ta ref="at" :members="options" :hover-select="false" :filterMatch="filterMatch">
      <at-ta at="_" :members="['void','no','unknown','less','more','equiv_indication','no_indication','low_indication','med_indication','high_indication']">
        <textarea :rows="height" ref="input" spellcheck="true" class="editor form-control" :name="name" :placeholder="placeholder" v-text="value.length > 0 ? value + ' ' : value" @blur="handleBlur" @keyup="$emit('keyup',$event), validate($event.target.value)" @click="validate($event.target.value)"></textarea>
      </at-ta>
    </at-ta>
    <template v-if="Object.values(result).length > 0">
      <span class="help-block" v-if="result.code === 200" v-text="result.message"></span>
      <div class="help-block" v-else>
        <ul>
          <li>
            <b>message:</b> {{result.message}}
          </li>
          <li v-if="result.expression">
            <b>parsed:</b> {{result.expression}}
          </li>
          <li v-if="result.original_expression">
            <b>original:</b> {{result.original_expression}}
          </li>
        </ul>
      </div>
    </template>
    <span class="help-block" v-if="validationErrors">{{ validationErrors }}</span>
  </div>

</template>

<script>
import AtTa from "vue-at/dist/vue-at-textarea";
// import axios from "axios";
import { mapActions } from "vuex";

export default {
  components: { AtTa },
  props: {
    height: {
      type: Number,
      required: false
    },
    value: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: false
    },
    placeholder: {
      type: String,
      required: false
    },
    disabled: {
      type: Boolean | String | null,
      required: false,
      default: false
    },
    options: {
      type: Array,
      required: true
    },
    validationErrors: {
      type: String | null,
      required: false,
      default: null
    }
  },
  data() {
    return {
      error: false,
      success: false,
      result: {},
      blurTimer: null,
      hideOnBlur: true,
      validateTimer: null
    };
  },

  methods: {
    ...mapActions(["validateExpression"]),
    filterMatch(name, chunk) {
      return name.toLowerCase().indexOf(chunk.toLowerCase()) === 0;
    },

    handleClick() {
      this.$refs.input.click();
    },

    handleBlur() {
      if (this.hideOnBlur) {
        this.blurTimer = setTimeout(() => {
          // this.$refs.at.closePanel();
        }, 500);
      }
    },

    handleFocus() {
      if (this.hideOnBlur) {
        clearTimeout(this.blurTimer);
      }
    },

    async validate(expression) {
      try {
        let { data: result } = await this.validateExpression({
          procedureId: proc_id,
          expression
        });
        console.log(result);
        this.error = false;
        this.success = true;
        this.result = result;
      } catch ({ response: { data: result } }) {
        console.error(result);
        this.error = true;
        this.result = result;
      }
    }
  }
};
</script>

<style scoped>
ul {
  padding-left: 5%;
}
</style>
