<template>
    <div :class="{'form-group': true, 'has-error': validationErrors}">
        <label class="cut-text">{{title}}</label>
        <input type="number" :value="value" :name="name" :disabled="disabled" :placeholder="placeholder" class="form-control" @input="$emit('input',$event)">
        <span class="help-block" v-if="validationErrors">{{ validationErrors }}</span>
    </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number | null,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: false
    },
    disabled: {
      type: Boolean | String | null,
      required: false,
      default: false
    },
    validationErrors: {
      type: String | null,
      required: false,
      default: null
    }
  }
};
</script>