<template>
  <!-- <div :class="{'form-group': true, 'has-error': validationErrors}"> -->
      <div class="form-group">
    <label class="cut-text">{{title}}</label>
    <textarea 
     
      
     class="form-control"  @input="$emit('input',$event)"
     
      @keypress="showEvent($event)" />
      <!--  @keypress="$emit('keypress', $event)" /> -->
        <!-- <span class="help-block"
              v-if="validationErrors">{{ validationErrors }}</span> -->
    </div>
</template>

<script>
export default {
    methods:{
        showEvent($e)
        {console.log($e.target.value)
        var str = "The rain in SPAIN stays mainly in the plain"; 
        var res = str.match(/ain/g);
        alert( /^The+{plain}$/.test(str) )
    }},
  props: {
//     value: {
//       type: String | null | Number,
//       required: true
//     },
    title: {
      type: String,
      required: true
    },
//     placeholder: {
//       type: String,
//       required: false
//     },
//     disabled: {
//       type: Boolean | String | null,
//       required: false,
//       default: false
//     },
//     validationErrors: {
//       type: String | null,
//       required: false,
//       default: null
//     }
 }
};
</script>