<template>
    <label class = "checkbox-inline">
        <input type = "checkbox"
               v-model = "isAuto">{{ title }}
    </label>
</template>

<script>
  export default {
    name: 'input-checkbox',
    props: {
      value: {
        type: Boolean,
        required: true,
      },
      title: {
        type: String,
        required: true,
      },
    },
    computed: {
      isAuto: {
        get ()
        {
          return this.value;
        },
        set ( value )
        {
          this.$emit('checked', value);
        },
      },
    },
  };
</script>