<template>
    <div :class="{'form-group': true, 'has-error': validationErrors}">

        <div style="text-align:center">
            <label class="cut-text">{{title}}</label>
        </div>
        <div class="container">
            <!-- <button :disabled="disabled" type="button" class="btn btn-default" style="margin: 0 2px 0 0; height: 100%;" @click="decrement">
                -
            </button> -->
            <div class="box" v-for="(i,index) in dataValues" :key="index">
                <input 
                :placeholder="'#'+(index+1)"  :disabled="disabled" :name="name" :type="inputType" :value="dataValues[index]" class="form-control" style="margin-right:2px;"
                @keyup="onChange(index, $event.target.value)"
               >
                <!-- @change="onChange(index, $event.target.value)"  -->
        </div>
                <div>
                </div>

                <!-- <button :disabled="disabled" type="button" class="btn btn-default" @click="increment" style="margin-right: 2px; height: 100%;">+
                </button> -->
            </div>
            <span class="help-block" v-if="validationErrors">{{ validationErrors }}</span>
        </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    // buttons: {
    //   type: String,
    //   required: false
    // },
    validationErrors: {
      type: String,
      required: false
    },
    inputType: {
      type: String,
      required: false,
      default: 'number'
    },
    disabled: {
      type: Boolean | String | null,
      required: false,
      default: false
    },
    show: {
      type: Array,
      required: true,
      default: [1]
    },
    value: {
      type: Array | null,
      required: false
    },
    values: {
      type: Array | null,
      required: false
    }
  },
  //   created() {
  //     alert(this.buttons);
  //   },
  data() {
    return {
      dataValues: this.values.length >= 1 ? this.values : [' ']

      // values: [1]
      //value1: this.value && this.value.length >= 1 ? this.value[0] : null
      //   value2: this.value && this.value.length >= 2 ? this.value[1] : null,
    };
  },
  computed: {
    ...mapState(['plusVas', 'minusVas'])
    //     // combined() {
    //     //   if (this.show.includes(2) && !this.show.includes(3)) {
    //     //     return [this.value1, this.value2];
    //     //   } else if (this.show.includes(3)) {
    //     //     return [this.value1, this.value2, this.value3];
    //     //   }
    //     //   return this.value1 ? [this.value1] : [];
    //     // }
  },
  methods: {
      test(e,v){
          alert("inside");
      },
    onChange(index, value) {
       console.log( {index},{value},{'dataValues' : this.dataValues });

      this.dataValues[index] = value;
      this.$emit('input-changed', this.dataValues );
    },
    increment() {
      console.log(this.dataValues);
      this.dataValues.push(' ');
      this.$emit('input-added');
    },
    decrement() {
      if (this.dataValues.length >= 2) {
        this.dataValues.splice(-1, 1);
        this.$emit('input-removed');
      }
    }
  },
  watch: {
    plusVas() {
      this.increment();
      console.log('plus');
    },
    minusVas() {
      this.decrement();
      console.log('minus');
    }
    // combined() {
    //   this.$emit('input-changed', this.combined.filter(n => n));
    // }
    // dataValues() {
    //   alert('changed!');
    //   this.$emit('input-changed', this.dataValues);
    // }
  }
};
</script>

<style scoped>
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container .box {
  -webkit-flex: 1;
  padding: 0;
  flex: 1;
  border: 0;
  min-width: 50px;
  /* max-width: 90px; */
  height: 40px;
  background-color: none;
  overflow: hidden;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>

