<template>
    <div class = "form-group">
        <label>{{title}}</label>
        <select class = "form-control" v-model = "selected">
            <option selected disabled value = "">Select an option...</option>
            <option v-for = "option in options" :value = "option">{{option}}</option>
        </select>
    </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: String,
        required: true,
      },
      title: {
        type: String,
        required: true,
      },
      options: {
        type: Array,
        required: true,
        default: [],
      },
    },
    computed: {
      selected: {
        get ()
        {
          return this.value;
        }, set ( value )
        {
          this.$emit('selected', value);
        },
      },
    },
  };
</script>