<template>
    <div :class="{'form-group': true, 'has-error': validationErrors}">
        <div style="text-align:center">
            <label class="cut-text">{{title}}</label>
        </div>
        <div style="display:flex">
            <button :disabled="disabled" type="button" class="btn btn-default" style="margin: 0 2px 0 0; height: 100%;" @click="decrement">
                -
            </button>
            <input v-for="i in 2" :disabled="disabled" :name="name" :type="inputType" :v-model="'value'+(i+1)" class="form-control" style="margin-right:2px"  v-if="show.includes(i)">
            <!-- <input :disabled="disabled" :name="name" :type="inputType" v-model="value2" class="form-control" style="margin-right:2px" v-if="show.includes(2)">
            <input :disabled="disabled" :name="name" :type="inputType" v-model="value3" class="form-control" style="margin-right:2px" v-if="show.includes(3)"> -->
            <div>
                <input v-for="i in show.length" :disabled="disabled" :name="name" :type="inputType" :v-model="'value'+(i+1)" class="form-control" style="margin-right:2px" :placeholder="i" v-if="show.includes(i) && i>2" :key="i">
                <!-- <input :disabled="disabled" :name="name" :type="inputType" v-model="value5" class="form-control" style="margin-right:2px" v-if="show.includes(5)">
            <input :disabled="disabled" :name="name" :type="inputType" v-model="value6" class="form-control" style="margin-right:2px" v-if="show.includes(6)">
            <input :disabled="disabled" :name="name" :type="inputType" v-model="value7" class="form-control" style="margin-right:2px" v-if="show.includes(7)"> -->
            </div>
            <button :disabled="disabled" type="button" class="btn btn-default" @click="increment" style="margin-right: 2px; height: 100%;">+
            </button>
        </div>
        <span class="help-block" v-if="validationErrors">{{ validationErrors }}</span>
    </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    validationErrors: {
      type: String,
      required: false
    },
    inputType: {
      type: String,
      required: false,
      default: 'number'
    },
    disabled: {
      type: Boolean | String | null,
      required: false,
      default: false
    },
    show: {
      type: Array,
      required: true,
      default: [1]
    },
    value: {
      type: Array | null,
      required: false
    }
  },
  data() {
    return {
      values: [],
      value1: this.value && this.value.length >= 1 ? this.value[0] : null,
      value2: this.value && this.value.length >= 2 ? this.value[1] : null,
      value3: this.value && this.value.length >= 3 ? this.value[2] : null,
      value4: this.value && this.value.length >= 4 ? this.value[3] : null,
      value5: this.value && this.value.length >= 5 ? this.value[4] : null,
      value6: this.value && this.value.length >= 6 ? this.value[5] : null,
      value7: this.value && this.value.length >= 7 ? this.value[6] : null
    };
  },
  computed: {
    combined() {
      if (this.show.includes(2) && !this.show.includes(3)) {
        return [this.value1, this.value2];
      } else if (this.show.includes(3)) {
        return [this.value1, this.value2, this.value3];
      }
      return this.value1 ? [this.value1] : [];
    }
  },
  methods: {
    increment() {
      this.$emit('input-added');
    },
    decrement() {
      this.$emit('input-removed');
    }
  },
  watch: {
    combined() {
      this.$emit('input-changed', this.combined.filter(n => n));
    }
  }
};
</script>

<style scoped>
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>

