<template>

  <div>
    <!-- <div style="background-color:green;height:100%;width:100%;">
UPDATING
      </div> -->
    <span v-if="!edit">
      <span style="width:100px;height:20px" :style="bindColor">
        {{name}}
      </span>
    </span>
    <input class="form-control text-center" :style="bindColor" key="2" style="margin:0;padding:0; height:60px" v-else ref="input" type="text" @blur="update" :value="initialValue" />
    <!-- @keypress.enter="update" -->

  </div>

</template>

<script>
// import axios from "axios";
import { mapActions } from "vuex";

export default {
  created() {},
  data() {
    return { show: true, bindColor: "" };
  },
  name: "InlineEdit",
  props: {
    edit: {
      type: Boolean,
      required: true,
      default: false
    },
    initialValue: {
      type: Array | String,
      required: true
    },
    field: {
      type: String,
      required: true
    },
    answer: {
      validator: function(value) {
        return value || this.question ? "success" : "danger";
      }
    },
    question: {
      validator: function(value) {
        return value || this.answer ? "success" : "danger";
      }
    },
    updateUrl: {
      type: String,
      required: true
    }
  },
  watch: {
    edit(value) {
      if (value) {
        setTimeout(() => {
          this.$refs.input.focus();
        }, 600);
        // setTimeout(() => {
        //   this.$refs.input.focus();
        // }, 200);
        // this.$nextTick(() => {
        //   this.$refs.input.focus();
        // });
      } else {
        this.$refs.input.value = "";
        this.bindColor = "color:white";
        setTimeout(() => {
          this.bindColor = "color:black";
        }, 600);
      }
    },
    initialValue() {
      return;
      if (this.field == "display_groups") {
        this.show = !this.show;
        setTimeout(() => {
          this.show = !this.show;
        }, 400);
      }
    }
  },
  computed: {
    name() {
      // if(!this.edit) return 'wait'
      return Array.isArray(this.initialValue)
        ? this.initialValue.join()
        : this.initialValue;
    },
    payload() {
      return this.answer || this.question;
    }
  },
  methods: {
    ...mapActions(["getQuestions"]),
    async update(event) {
      //console.log(this.updateUrl);
      // is priority ?
      event.target.value =
        this.field == "priority"
          ? Number(event.target.value)
          : event.target.value;
      this.payload[this.field] = event.target.value;
      //this.$refs.input.value='';
      let response = await axios.post(this.updateUrl, this.payload);

      this.$emit("updated");
      //    if(this.initialValue!=event.target.value) this.$toasted.success("Field Was updated", {
      //           theme: "outline",
      //           position: "top-left",
      //           duration: 2000
      //         });
      this.getQuestions();
    }
  }
};
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  color: black;
  animation: color-me-in 0.2s;
  /* other keywords like "infinite alternate" can be useful here */
}
.fade-enter,
.fade-leave-to .fade-leave-active {
}
body {
}

@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    color: black;
  }
  30% {
    color: orange;
  }
  /* You could think of as "step 2" */
  100% {
    color: black;
  }
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.list-item {
  display: block;
  /* margin-right: 10px; */
}
.list-enter-active,
.list-leave-active {
  color: white;
}
.list-enter-active {
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  color: white;
  font-size: 2px;
  height: 0px;
  /* transform: translateX(-10px); */
  /* transform: translateY(-20px); */
}
.list-complete-item {
  transition: transform 0.3s;
  display: inline-block;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}
</style>