<template>
    <div class = "panel panel-default" style = "max-height: 1000px">
        <div class = "panel-heading clearfix">
            <slot name = "dismissBtn"></slot>
            <h2 class = "panel-title pull-left"
                style = "padding-top: 3px;">
                <slot name = "title"></slot>
            </h2>
        </div>
        <div class = "panel-body" style = "height: 700px; overflow-y: scroll;">
            <slot></slot>
        </div>
        <div class = "panel-footer">
            <slot name = "footer"></slot>
        </div>
    </div>
</template>