<template>
    <div class = "panel panel-default">
        <div class = "panel-heading">
            <h3 class = "panel-title">Indication Distribution by Procedure</h3>
        </div>
        <div class = "panel-body">
            <vue-chart v-if = "display"
                       :chart-type = "chartType"
                       :columns = "columns"
                       :rows = "rows"
                       :options = "options"
            ></vue-chart>
            <spinner message = "Loading..." size = "massive" v-else></spinner>
        </div>
    </div>

</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        components: {
            Spinner
        },
        created() {
            this.getData();
        },

        data() {
            return {
                display: false,
                chartType: 'ColumnChart',
                columns: [{'type': 'string'}, {'type': 'number'}],
                rows: [],
                options: {
                    hAxis: {
                        title: 'Procedure',
                        minValue: '2004',
                        maxValue: '2007'
                    },
                    vAxis: {
                        title: 'Indications',
                        minValue: 300,
                        maxValue: 1200
                    },
                    width: 1600,
                    height: 700,
                    curveType: 'function'
                }
            }
        },

        methods: {
            getData() {
                axios.get(`/client-statistics/18/procedures`).then(response => {
                    this.rows = response.data.map(procedure => {
                        return this._.values(procedure);
                    })
                    this.display = true;
                })
            }
        },
    }
</script>