iframe {
    border: none;
    width: 100%;
    height: 700px;
}

#reports-modal-content {
    border-radius: 0;
}

.client-reports-table {
    display: none;
}

.modal-open {
    overflow: inherit;
}