.handHover:hover {
    cursor: pointer;
}

table tbody tr td div.btn-group button.btn {
    color: black;
}

body {
    color: black;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.form-control {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

.form-control:focus {
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

[v-cloak] {
    display: none;
}

.loading {
    margin-top: 300px;
}

.questions-container {
    padding-right: 5px;
}

.form-container {
    padding-left: 5px;
}

input {
    font-weight: 700;
}

input::placeholder {
    font-weight: lighter;
    opacity: 0.6;
}

textarea {
    font-weight: 700;
}

textarea::placeholder {
    font-weight: lighter;
    opacity: 0.6;
}