.usage-td {
    text-align:center;max-width:30px;
}
#seranus-logo {
  background: 0 0 !important;
  border: none !important;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0;
}
.endTest {
  font-size: 10px;
  color: #944040;
}

.drag-over {
  border: 2px solid #00aef0;
}
.droptarget,
.to-procedures {
  color: #73879c;
  display: inline-block;
  font-size: 25px;
  height: 50px;
}
 .approval-cell {
}
.approval-cell:hover {
 /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 20px solid #f00;
    background: #00f;
    margin: 10px; */
  border: 0.5px solid #7676beb9 !important;
}  
/* .decision-form:focus {
  border: 1px solid #7676beb9 !important;
} */

.action-button {
  text-shadow: 1px 1px rgb(68, 68, 97);
  color: rgb(35, 255, 0) !important;  
}
.action-button-redo {
  /* text-shadow: 2px 2px yellow; */
  color: rgb(35, 255, 0) !important;
}
.action-button-play {
  /* text-shadow: 2px 2px yellow; */
  /* color: greenyellow !important; */
}
.action-button i:hover , .action-button span:hover {
  animation-duration: 0.5s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.action-button-rotate:hover {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes changewidth {
  from {
    margin-right: 2px;
  }

  to {
    margin-left: 2px;
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.users-title-usage-td p {margin-left:-8px !important}
@media only screen and (max-width: 1900px) {
        .serenus-ai-recommendations {
        overflow: auto;
          max-width:500px;
    }
       #byUserTable, .users-title-usage-td,
 #chartjs-legend li span, #byUserTable tr td p {
    /* color: red !important; */
    /* font-size: 10px !important; */
  }
  div.dataTables_wrapper div.dataTables_filter {
    margin-right: 10px;
    padding-right: 10px;
  }
  div.dataTables_wrapper div.dataTables_filter input {
    max-width: 125px;
  }
}

@media only screen and (max-width: 1100px) {
   
  div.dataTables_wrapper div.dataTables_filter {
    margin-right: 50px;
  }
}
.w_45 {
  width: 45%;
}
.w_35 {
  width: 35%;
}
.w_10 {
  width: 10%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#chartjs-legend ul {
  padding: 3px;
  margin: 3px;
}

#chartjs-legend li {
  list-style: none;
  font-size: 10px;
  cursor: pointer;
  /* margin: 10px 4px; */
}
#chartjs-legend li span {
 font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
  
      margin-right: 8px;
    font-size: 15px;
   
    width: 18px;
    line-height: 28px;
}
#chartjs-legend li i {
      margin-right: 8px;
    font-size: 17px;
    float: left;
    width: 18px;
    line-height: 28px;
}
.play {
    
}
/* .users-title-usage { color: yellowgreen !important;} */
.users-title-usage-td {}
table.tile_info td:first-child {
    width: 73% !important;
}
@media only screen and (max-width: 1500px) {
    .dashboard-widget-content .sidebar-widget { width:100% !important;
    margin-top:0 !important;}
}
@media only screen and (max-width: 1400px) {
  
     .serenus-ai-recommendations {
         width:81% !important;
       max-width:120px;
    }
    
  
    #myPieChart{margin-left:-8px}
    .play {
        width: 104%;
        margin-left: -20px;
}
.canvasDoughnut { width:210px }
 /* .usage-td{ width:0} */
/* .users-title-usage {display: none;} */
}
.by-User-Table { width: 130% !important;  }
 
@media only screen and (max-width: 1600px) {
    ul.quick-list { width:100% !important;}
      div.recommendations { max-width:140px;}
     .serenus-ai-recommendations {
        /* color: green; */
        text-overflow:ellipsis !important ;max-width:126px;
    }
           #byUserTable, .users-title-usage-td,
 #chartjs-legend li span, #byUserTable tr td p {
    /* color: red !important; */
    font-size: 10px !important;
  }
    /* .users-title-usage-td { display:none} */
    .max-width_40 {
       max-width:40px !important       ;
       color:blue;
    }
  .chart-td {
    width: 30% !important;
    padding: 0;
    margin: 0;
  }
  canvas.canvasDoughnut {
    /* height: 210px !important;
    width: 260px !important; */
  }
  .platform-usage {
      /* margin-left: -10px; */
  }

      
}
 /* .by-User-Table {margin-left: -20px; padding:0    } */
 @media only screen and (min-width: 1600px) {
 .by-User-Table{ margin:0 ;} 
 
}
@media only screen and (max-width: 800px) {
  canvas.canvasDoughnut {
    height: 200px !important;
    width: 250px !important;
  }
}
.tickLabel-div {
  position: absolute;
  max-width: 145px;
  top: 264px;
  left: 23px;
  text-align: center;
}
.fixed_height_425 {
  height: 450px;
}
.demo-placeholder_330 {
  height: 330px;
}
.toggle-select {
        font-size: 13px  !important;
    font-weight: 400  !important;
    line-height: 1.471  !important;
    color: #73879C !important;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
    background: #fff; cursor: pointer; padding:5px  5px 6px 10px; border: 1px solid #ccc"
}
.edit-approval-button{
     
}
body {
    overflow-x: hidden;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active-col, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-col:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}