<template>
  <div class="row">
    <filter-bar></filter-bar>
    <div class="panel panel-default reports-table-container">
      <vuetable ref="vuetable" api-url="https://vuetable.ratiw.net/api/users" :fields="[ {name: 'name',sortField: 'name'}, 'email', 'birthdate']"></vuetable>
      <vuetable class="reports-table" ref="vuetable" :fields="fields" :sort-params="getSortParam" :api-url="url" :reactive-api-url="true" @vuetable:loading="onLoading" @vuetable:loaded="onLoadSuccess" @vuetable:pagination-data="onPaginationData" @vuetable:row-clicked="onRowClick" @vuetable:initialized="loading = false" pagination-path="" :css="css.table" :multi-sort="true" detail-row-component="my-detail-row" @vuetable:cell-clicked="onCellClicked" :append-params="moreParams">
      </vuetable>
      <spinner class="spinner" size="big" v-if="loading"></spinner>
      <div class="loading-overlay" v-if="loading"></div>
    </div>
    <div class="vuetable-pagination">
      <vuetable-pagination-info ref="paginationInfo" info-class="pagination-info"></vuetable-pagination-info>
      <pagination ref="pagination" :css="css.pagination" @vuetable-pagination:change-page="onChangePage"></pagination>
    </div>
    <decision-modal :tableData="tableData"></decision-modal>
    <reports-modal></reports-modal>
  </div>
</template>

<script>
import Vue from "vue";
import FilterBar from "../client_reports/FilterBar.vue";
import VueEvents from "vue-events";
import DetailRow from "../client_reports/DetailRow.vue";
import CustomActions from "../client_reports/CustomActions.vue";
import PatientCell from "../client_reports/PatientCell";
import DecisionCell from "../client_reports/DecisionCell";
import DecisionModal from "../client_reports/DecisionModal";
import ReportsModal from "../client_reports/ReportsModal";
import SupervisorDecision from "../client_reports/SupervisorDecision.vue";
import Vuetable from "vuetable-2/src/components/Vuetable";
import Pagination from "../client_reports/Pagination.vue";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import VuetablePaginationInfo from "vuetable-2/src/components/VuetablePaginationInfo";
import ProcedureCell from "../client_reports/ProcedureCell";
import lodash from "lodash";
import VueLodash from "vue-lodash/dist/vue-lodash.min";
import Spinner from "vue-simple-spinner";
import ApprovedReferrals from "../client_dashboard/ApprovedReferrals";

Vue.use(VueLodash, lodash);
Vue.use(VueEvents);
Vue.component("my-detail-row", DetailRow);
Vue.component("filter-bar", FilterBar);
Vue.component("custom-actions", CustomActions);
Vue.component("supervisor-decision", SupervisorDecision);
Vue.component("procedure-cell", ProcedureCell);
Vue.component("patient-cell", PatientCell);
Vue.component("decision-cell", DecisionCell);

export default {
  components: {
    ApprovedReferrals,
    Vuetable,
    Pagination,
    VuetablePaginationInfo,
    DecisionModal,
    ReportsModal,
    Spinner
  },
  props: ["unapproved"],
  created() {
    console.log({ data: this.tableData });
    //  this.fetchData();
  },
  computed: {
    url() {
      return `/new-client-reports/${clientId}/${this.connection}/not-approved`;
      //   if (this.unapproved == undefined) {
      //     return `/client-reports/${clientId}/${this.connection}`;
      //   }
      return `/client-reports/${clientId}/${this.connection}/${
        this.unapproved
      }`;
    }
  },
  data() {
    return {
      tableRows: "",
      tableData: [],
      showModal: false,
      loading: false,
      selectedRow: {},
      clickedRow: {},
      connection: "local",
      fields: [
        {
          name: "__sequence",
          title: "#",
          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "created_at",
          sortField: "created_at",
          title: "Date",
          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "__component:procedure-cell",
          title: "Procedure",
          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "id",
          sortField: "id",
          title: "Test ID",
          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          callback: "allcap",
          name: "physician_name",
          title: "Physician",

          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "__component:patient-cell",
          title: "Patient ID",
          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "__component:decision-cell",
          title: "Decision",

          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "is_indication",
          title: "Indication",

          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "supervisor_decision",
          title: "Supervisor Decision",

          titleClass: "text-center",
          dataClass: "text-center"
        },
        {
          name: "__component:custom-actions",
          title: "Actions",
          titleClass: "text-center",
          dataClass: "text-center"
        }
      ],
      css: {
        table: {
          tableClass:
            "table table-bordered table-striped table-hover table-condenced",
          ascendingIcon: "fa fa-arrow-up",
          descendingIcon: "fa fa-arrow-down"
        },
        pagination: {
          wrapperClass: "pagination",
          activeClass: "active",
          disabledClass: "disabled",
          pageClass: "page",
          linkClass: "link",
          icons: {
            first: "",
            prev: "",
            next: "",
            last: ""
          }
        },
        icons: {
          first: "glyphicon glyphicon-step-backward",
          prev: "glyphicon glyphicon-chevron-left",
          next: "glyphicon glyphicon-chevron-right",
          last: "glyphicon glyphicon-step-forward"
        }
      },
      moreParams: {}
    };
  },
  methods: {
    getSortParam(sortOrder) {
      return sortOrder
        .map(function(sort) {
          return (sort.direction === "desc" ? "-" : "") + sort.field;
        })
        .join(",");
    },
    fetchData() {
      axios.get(this.url).then(response => {
        this.tableRows = response.data;
      });
    },
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
      this.$refs.paginationInfo.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    onCellClicked(data, field, event) {
      console.log("cellClicked: ", field.name);
      this.$refs.vuetable.toggleDetailRow(data.id);
    },
    onDecisionUpdate(test) {
      let row = this._.find(this.tableData, { id: test.id });
      row.supervisor_decision = test.supervisor_decision;
      this.clickedRow.classList.add("success");
    },
    onRowClick() {
      this.clickedRow = event.path[3];
    },
    onLoadSuccess() {
      this.tableData = this.$refs.vuetable.tableData;
      this.loading = false;
    },
    onLoading() {
      this.clickedRow.classList = "";
      this.loading = true;
    }
  },
  events: {
    "filter-set"(filterText) {
      this.moreParams = {
        filter: filterText
      };
      Vue.nextTick(() => this.$refs.vuetable.refresh());
    },
    "filter-reset"() {
      this.moreParams = {};
      Vue.nextTick(() => this.$refs.vuetable.refresh());
    },
    "decision-updated"(test) {
      this.onDecisionUpdate(test);
    }
  }
};
</script>

<style>
[v-cloak] {
  display: none;
}

.vuetable-body {
  min-height: 400px;
}

.reports-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.spinner {
  z-index: 20;
  position: absolute;
}

.loading-overlay {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  opacity: 0.4;
  border-radius: 4px;
}
</style>
