<template>
    <div class = "custom-actions btn-group-sm btn-group">
        <button class = "btn btn-default btn-sm" @click = "addDecision(rowData,rowIndex)">Decision</button>
        <button class = "btn btn-default btn-sm" @click = "showReport(rowData)">Report</button>
    </div>
</template>

<script>
    export default {
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            addDecision(rowData,rowIndex) {
                this.$events.fire('add-decision', rowData.id, rowIndex);
            },
            showReport(rowData){
                this.$events.fire('show-report', rowData.id);
            }
        }
    }
</script>

<style>
    .btn {
        color: #73879C;
    }
</style>