<template>
    <modal @input="handleDismiss" v-if = "show" v-model = "show" title = "Submit Your Decision">
        <template>
            <div :class = "{'form-group': true, 'has-error': errors.hasOwnProperty('supervisor_decision')}">
                <select class = "form-control" v-model = "supervisorDecision">
                    <option selected disabled value = "">Select an option...</option>
                    <option v-for = "decision in decisions" :value = "decision.code" v-text = "decision.title" :key = "decision.code"></option>
                </select>
                <template v-if = "errors.hasOwnProperty('supervisor_decision')">
                    <p class = "help-block" v-for = "error in errors.supervisor_decision" v-text = "error" :key = "error"></p>
                </template>
            </div>
            <div class = "form-group">
                <label>Explanation</label>
                <textarea v-model = "supervisorDecisionExplanation" class = "form-control"></textarea>
            </div>
        </template>
        <template slot = "footer">
            <button style = "color: white" type = "submit" class = "btn btn-primary" @click.prevent = "store">Submit
            </button>
        </template>
    </modal>
</template>

<script>
  import { Modal } from 'uiv';
  
  export default {
    components: {
      Modal,
    },
    name: 'decision-modal',
    props: [ 'tableData' ],
    created ()
    {
      this.index();
    },
    data ()
    {
      return {
        show: false,
        selectedRow: {},
        supervisorDecision: '',
        supervisorDecisionExplanation: '',
        decisions: {},
        errors: {},
        test: '',
      };
    },
    methods: {
      index ()
      {
        axios.get('/client-decisions').then(response => {
          this.decisions = response.data;
        });
      },
      handleDismiss(event){
        if (event === false){
          let body = document.getElementsByTagName("BODY")[0];
          body.classList.remove('modal-open');
          body.style.removeProperty('padding-right');
        }
      },
      store ()
      {
        let body = document.getElementsByTagName("BODY")[0];
        body.classList.remove('modal-open');
        body.style.removeProperty('padding-right');
        axios.post('/client-decisions', {
          test_id: this.test,
          supervisor_decision: this.supervisorDecision,
          supervisor_decision_explanation: this.supervisorDecisionExplanation,
        }).then(response => {
          console.log(response.data);
          this.$events.fire('decision-updated', response.data);
          this.show = false;
        }).catch(error => {
          console.log(error.response.data);
          this.errors = error.response.data;
        });
      },
    },
    events: {
      'add-decision' ( test )
      {
        let row = this._.find(this.tableData, { 'id': test });
        if ( row.supervisor_decision !== null ) {
          this.supervisorDecision = row.supervisor_decision;
          this.supervisorDecisionExplanation = row.supervisor_decision_explanation;
        }
        this.$nextTick(() => {
          this.test = test;
          this.show = true;
        });
      },
    },
  };
</script>

