<template>
  <div>
    <popover title="Decision Title" trigger="hover">
      <td data-role="trigger" v-text="shortDecisionTitle"></td>
      <div slot="popover">
        <p v-text="rowData.decision_title"></p>
      </div>
    </popover>
  </div>
</template>

<script>
import { Popover } from "uiv";
export default {
  created() {},
  computed: {
    shortDecisionTitle: function() {
      try {
        return this.rowData.decision_title.slice(0, 15) + "...";
      } catch (error) {
        return this.rowIndex;
      }
    }
  },
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  components: {
    Popover
  }
};
</script>


