<template>
    <div @click = "onClick">
        <div class = "inline field">
            <label>Date: </label>
            <span>{{rowData.created_at}}</span>
        </div>
        <div class = "inline field">
            <label>Procedure: </label>
            <span>{{rowData.procedure}}</span>
        </div>
        <div class = "inline field">
            <label>Test ID: </label>
            <span>{{rowData.test_id}}</span>
        </div>
        <div class = "inline field">
            <label>Physician: </label>
            <span>{{rowData.physician_name}}</span>
        </div>
        <div class = "inline field">
            <label>Patient: </label>
            <span>{{rowData.Patient_id}}</span>
        </div>
        <div class = "inline field">
            <label>Decision: </label>
            <span>{{rowData.decision}}</span>
        </div>
        <div class = "inline field">
            <label>Supervisor decision
                   : </label>
            <span>{{rowData.supervisor_decision
                  }}</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            onClick(event) {
                console.log('my-detail-row: on-click', event.target)
            }
        },
    }
</script>