<template>

    <div class="filter-bar">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">

                    <div class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <input type="text" v-model="filterText" class="form-control" @keyup.enter="doFilter" placeholder="Search by Procedure, Test ID or Physician">
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-default" @click.prevent="doFilter">Go!</button>
                <button class="btn btn-default" @click.prevent="resetFilter">Reset</button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
  data() {
    return {
      filterText: ''
    };
  },
  methods: {
    doFilter() {
      this.$events.fire('filter-set', this.filterText);
    },
    resetFilter() {
      this.filterText = '';
      this.$events.fire('filter-reset');
    }
  }
};
</script>
<style scoped>
.filter-bar {
  padding-bottom: 10px;
}

div.filter-bar
  form.form-inline
  div.form-group
  div.input-group
  div.input-group-addon {
  width: 3px;
}

.input-group {
  margin: 0;
  width: 30em;
}

.btn {
  margin-bottom: 0;
}
</style>