<template>
    <div v-if = "tablePagination && tablePagination.last_page > 1">
        <ul class = "pagination">
            <li :class = "[isOnFirstPage ? css.disabledClass : '']">
                <a href="#" @click.prevent = "loadPage(1)">
                    <i v-if = "css.icons.first != ''" :class = "[css.icons.first]"></i>
                    <span v-else>&laquo;</span>
                </a>
            </li>
            <li :class = "[isOnFirstPage ? css.disabledClass : '']">
                <a href="#" @click.prevent = "loadPage('prev')">
                    <i v-if = "css.icons.next != ''" :class = "[css.icons.prev]"></i>
                    <span v-else>&nbsp;&lsaquo;</span>
                </a>
            </li>
            <template v-if = "notEnoughPages">
                <template v-for = "n in totalPage">
                    <li :class = "[isCurrentPage(n) ? css.activeClass : '']">
                        <a href="#" @click.prevent = "loadPage(n)"
                           v-html = "n">
                        </a>
                    </li>
                </template>
            </template>
            <template v-else>
                <template v-for = "n in windowSize">
                    <li :class = "[isCurrentPage(windowStart+n-1) ? css.activeClass : '']">
                        <a href="#" @click.prevent = "loadPage(windowStart+n-1)"
                           v-html = "windowStart+n-1">
                        </a>
                    </li>
                </template>
            </template>
            <li :class = "[isOnLastPage ? css.disabledClass : '']">
                <a href="#" @click.prevent = "loadPage('next')">
                    <i v-if = "css.icons.next != ''" :class = "[css.icons.next]"></i>
                    <span v-else>&rsaquo;&nbsp;</span>
                </a>
            </li>
            <li :class = "[isOnLastPage ? css.disabledClass : '']">
                <a href="#" @click.prevent = "loadPage(totalPage)">
                    <i v-if = "css.icons.last != ''" :class = "[css.icons.last]"></i>
                    <span v-else>&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    import PaginationMixin from '../client_reports/PaginationMixin.vue';

    export default {
        mixins: [PaginationMixin],
    }
</script>

<style>
    .pagination {
        margin: 0;
        float: right;
    }
</style>
