<template>
  <div>
    <popover title="Patient ID" trigger="hover">
      <td data-role="trigger" v-text="shortPatientId"></td>
      <div slot="popover">
        <p v-text="rowData.patient_id"></p>
      </div>
    </popover>
  </div>
</template>

<script>
import { Popover } from "uiv";
export default {
  computed: {
    shortPatientId: function() {
      try {
        return this.rowData.patient_id.slice(0, 10) + "...";
      } catch (error) {
        // return this.rowData;
      }
    }
  },
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  components: {
    Popover
  }
};
</script>


