<template>
  <div>
    <popover title="Procedure Title" trigger="hover">
      <td data-role="trigger" v-text="shortProcedureTitle"></td>
      <div slot="popover">
        <p v-text="rowData.proc_title"></p>
      </div>
    </popover>
  </div>
</template>

<script>
import { Popover } from "uiv";
export default {
  computed: {
    shortProcedureTitle: function() {
      try {
        return this.rowData.proc_title.slice(0, 15) + "...";
      } catch (error) {}
    }
  },
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  components: {
    Popover
  }
};
</script>


