<template>
    <div>
        <modal class="reports-modal" v-model = "open" :footer = "false" :header = "false" title = "Modal 1">
            <iframe :src = "reportUrl"></iframe>
        </modal>
    </div>
</template>

<script>
    import { Modal } from "uiv";

    export default {
      components: {
        Modal
      },
      data() {
        return {
          reportUrl: "",
          open: false
        };
      },
      events: {
        "show-report"(test) {
          axios.get(`/production-link/report/${test}`).then(response => {
            this.reportUrl = response.data;
            this.open = true;
          });
        }
      }
    };
</script>

<style>
    iframe {
      width: 100%;
      height: 90vh;
    }

    div.reports-modal div.modal div.modal-dialog {
      width: 90vw !important;
    }
</style>