<template>
    <div>
        <form>
            <div class = "form-group">
                <select class = "form-control input-sm" @change = "onSelected($event,rowData)">
                    <option disabled selected v-if = "rowData.supervisor_decision.length == 0">Choose option...</option>
                    <option v-for = "option in options" :selected = "rowData.supervisor_decision.length !== 0"
                            :value = "option.code"
                            v-text = "option.title"></option>
                </select>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                options: {},
            }
        },
        created() {
            this.getDecisions();
        },
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            onSelected(event, rowData) {
                console.log('Selected decision: ' + event.target.value + ' on test:' + rowData.test_id)
                this.$events.fire('decision-selected', event.target.value, rowData.test_id)
            },
            getDecisions() {
                axios.get('/client-decisions').then(response => {
                    this.options = response.data;
                })
            }
        }
    }
</script>

<style>
    .form-control {
        width: 12em;
    }
</style>