<template>
  <div class="panel panel-default">

    <answer-heading></answer-heading>

    <form @keypress="clearErrors({target:'answer',field:$event.target.name})">
      <div class="panel-body form">

        <answer-params-form-new :ansId="answer.id" :displayGroups="answer.display_groups"></answer-params-form-new>
        <answer-no-unknown></answer-no-unknown>
        <answer-validation></answer-validation>
        <answer-demographic></answer-demographic>

        <!-- <paramInput :param_id="7"></paramInput>
                            <paramInput :param_id="8"></paramInput> -->

        <!-- <AnswerGlobalNoUnknown /> -->
        <!-- named as title -->
        <!-- v-if="answer['display_groups'].length>0" -->
        <!-- <answer-display-groups ></answer-display-groups> -->

        <!-- named as CHARACTERISTICS -->
        <answer-title></answer-title>
        <answer-priority></answer-priority>
        <answer-created-keys @displayGroupAnswer="displayGroupAnswer=true"></answer-created-keys>
        <answer-indication></answer-indication>
        <!-- <paramInput :param_id="9"></paramInput> -->
        <answer-groups></answer-groups>
        <answer-keys-for-showing></answer-keys-for-showing>
        <answer-keys-for-showing-teach></answer-keys-for-showing-teach>
        <answer-weight></answer-weight>
        <answer-weight-formula></answer-weight-formula>
        <answer-vas-step></answer-vas-step>
        <answer-vas-score></answer-vas-score>
        <div class="col-md-6"><button type="button" class="btn btn-default btn-block" @click="setMinusVas">-</button></div>
        <div class="col-md-6"><button type="button" class="btn btn-default btn-block" @click="setPlusVas">+</button></div>
        <answer-vas-display></answer-vas-display>
        <VasScoreErrors />
        <answer-vas-show-more-less></answer-vas-show-more-less>
        <answer-vas-explanation></answer-vas-explanation>
        <div>
          <component v-for="param in unitsParams" :is="component(param.type)" :key="param.id" :param="param" class="col-md-12">
          </component>
        </div>
        <answer-vas-auto></answer-vas-auto>

        <div class="col-md-12" style="padding:0">
          <component v-for="param in labelScoreParams" :is="component(param.type)" :key="param.id" :param="param">
          </component>
          <div class="col-md-6" style="padding-left:0">
            <answer-vas-no></answer-vas-no>
          </div>
          <div class="col-md-6" style="padding-right:0">
            <answer-vas-no-label></answer-vas-no-label>
          </div>
        </div>
        <div class="col-md-12" style="padding:0">
          <div class="col-md-6" style="padding-left:0">
            <answer-vas-unknown></answer-vas-unknown>
          </div>
          <div class="col-md-6" style="padding-right:0">
            <answer-vas-unknown-label></answer-vas-unknown-label>
          </div>
        </div>
        <answer-auto-keys></answer-auto-keys>
        <answer-notes></answer-notes>
        <answer-keys-end-test></answer-keys-end-test>
        <answer-force-score></answer-force-score>
        <answer-end-test></answer-end-test>
      </div>
      <answer-submit></answer-submit>
    </form>
  </div>
</template>

<script>
import AnswerTitle from "./form/AnswerTitle";
import VasScoreErrors from "./form/VasScoreErrors";
import AnswerValidation from "./form/AnswerValidation";
import AnswerDemographic from "./form/AnswerDemographic";
import AnswerNoUnknown from "./form/AnswerNoUnknown";
//import AnswerGlobalNoUnknown from './form/AnswerGlobalNoUnknown';
import AnswerPriority from "./form/AnswerPriority";
import AnswerCreatedKeys from "./form/AnswerCreatedKeys";
import AnswerIndication from "./form/AnswerIndication";
import AnswerGroups from "./form/AnswerGroups";
import AnswerDisplayGroups from "./form/AnswerDisplayGroups";
import AnswerKeysForShowing from "./form/AnswerKeysForShowing";
import AnswerKeysForShowingTeach from "./form/AnswerKeysForShowingTeach";
import AnswerWeight from "./form/AnswerWeight";
import AnswerWeightFormula from "./form/AnswerWeightFormula";
import AnswerVasStep from "./form/AnswerVasStep";
import AnswerVasScore from "./form/AnswerVasScore";
import AnswerVasDisplay from "./form/AnswerVasDisplay";
import AnswerVasExplanation from "./form/AnswerVasExplanation";
import AnswerVasAuto from "./form/AnswerVasAuto";
import AnswerAutoKeys from "./form/AnswerAutoKeys";
import AnswerNotes from "./form/AnswerNotes";
import AnswerKeysEndTest from "./form/AnswerKeysEndTest";
import AnswerForceScore from "./form/AnswerForceScore";
import AnswerEndTest from "./form/AnswerEndTest";
import AnswerSubmit from "./form/AnswerSubmit";
import AnswerHeading from "./form/AnswerHeading";
import AnswerVasNo from "./form/AnswerVasNo";
import AnswerVasUnknown from "./form/AnswerVasUnknown";
import AnswerVasLess from "./form/AnswerVasLess";
import AnswerVasMore from "./form/AnswerVasMore";
import AnswerVasShowMoreLess from "./form/AnswerVasShowMoreLess";
import AnswerVasNoLabel from "./form/AnswerVasNoLabel";
import AnswerVasUnknownLabel from "./form/AnswerVasUnknownLabel";
import AnswerParamsFormNew from "./AnswerParamsFormNew";
import InputFormulaParams from "../../inputs/params/InputFormula";
import InputTextParams from "../../inputs/params/InputText";

import { mapMutations, mapActions, mapState } from "vuex";

export default {
  components: {
    VasScoreErrors,
    InputTextParams,
    AnswerParamsFormNew,
    AnswerPriority,
    AnswerValidation,
    AnswerDemographic,
    AnswerNoUnknown,
    AnswerTitle,
    AnswerCreatedKeys,
    AnswerIndication,
    AnswerGroups,
    AnswerDisplayGroups,
    AnswerKeysForShowing,
    AnswerKeysForShowingTeach,
    AnswerWeight,
    AnswerWeightFormula,
    AnswerVasStep,
    AnswerVasScore,
    AnswerVasDisplay,
    AnswerVasExplanation,
    AnswerVasAuto,
    AnswerAutoKeys,
    AnswerNotes,
    AnswerKeysEndTest,
    AnswerForceScore,
    AnswerEndTest,
    AnswerSubmit,
    AnswerHeading,
    AnswerVasNo,
    AnswerVasUnknown,
    AnswerVasLess,
    AnswerVasMore,
    //AnswerGlobalNoUnknown,
    AnswerVasShowMoreLess,
    AnswerVasNoLabel,
    AnswerVasUnknownLabel
  },
  data() {
    return {
      displayGroupAnswer: false,
      plus: null,
      minus: null
    };
    // alert('/params');
    // this.editAnswerParamsNew();
  },

  computed: {
    unitsParams() {
      return this.params.filter(
        param => param.type == "units" && param.title == "plural_units"
      );
    },
    labelScoreParams() {
      return this.params.filter(
        param => param.type == "label" || param.type == "score"
      );
    },
    ...mapState(["answer", "params"])
  },
  methods: {
    component(type) {
      return type == "label" || type == "units" || type == "score"
        ? "InputTextParams"
        : false;
    },
    ...mapMutations(["clearErrors", "setPlusVas", "setMinusVas"]),
    ...mapActions([
      // "deleteAnswer","editAnswer",
      "editAnswerParamsNew"
      //   "splitAnswer", "duplicateAnswer"
    ])
  }
};
</script>

<style scoped>
.form {
  /* background-color: lightcoral !important; */
  overflow-y: auto;
  height: calc(100vh - 310px) !important;
}

.panel {
  margin-bottom: 0 !important;
}
</style>

