<template>
    <td @click="edit = true">
        <inline-edit :edit="edit"
                     :update-url="`/api/answers/${answer.id}/update`"
                     :initial-value="answer.priority"
                     :answer="answer"
                     field="priority"
                     @updated="edit = false"
                     @failed="edit = false"></inline-edit>
    </td>
</template>

<script>
    import InlineEdit from '../../common/InlineEdit';

    export default {
        name: 'answer-priority',
        props: ['answer'],
        components: { InlineEdit },
        data() {
            return {
                edit: false,
            };
        },
    };
</script>