<template>
  <tr :class="{success: validated, danger: notValidated}" :style="backgroundColor">
    <template v-if="allAnswersHaveDisplayGroups && !animationTimeOut">
      <td v-if="!answer.display_groups[0] " :class="!titleToggle ? 'item': 'itemFalse'" style=" padding:0;"> {{answer.title}} </td>

      <td v-if="rowSpan.display_groups" :class="!titleToggle ? 'item ': 'itemFalse'" :style="verticalCss" :rowspan="rowSpan.length" @mouseover="toggleGScore(true)" @mouseleave="toggleGScore(false)">
        <!-- {{computedGrouped}} -->
        <div v-if="GScore">
          <button class="btn btn-default btn-sm" style="border-radius: 50%; !important" @click="open = opentrue(true)">
            <i class="fas fa-certificate"></i>
          </button>
          <button class="btn btn-default btn-sm" style="border-radius: 50%; !important" @click="DGopen = true">
            <i class="el-icon-orange"></i>
          </button>
        </div>
        <div>{{ answer.display_groups[0]}}</div>
      </td>
    </template>
    <answer-title :answer="answer" :class="titleToggle ? 'item': 'itemFalse'" :style="verticalCss"></answer-title>
    <td>{{ answer.display_groups.length > 0 ? answer.title : null }}</td>
    <answer-priority :answer="answer"></answer-priority>
    <td>{{ answer.tag.join() }}</td>
    <answer-indication :answer="answer"></answer-indication>
    <td>{{ answer.answer_groups.join(',') }}</td>
    <!-- <td v-if="answerGroupsRowspan" :style="verticalCss" @mouseover="AGopen.button = true" @mouseleave="AGopen.button = false" :rowspan="answerGroupsRowspan"> {{answer.answer_groups.join()}} -->
    <!-- answerGroupsRowspan: {{answerGroupsRowspan}} DG: {{answer.display_groups}}, -->
    <!-- <button class="btn btn-default btn-sm" style="border-radius: 50%; !important" v-if="AGopen.button" @click="AGopen.modal = true">
        <i class="el-icon-orange"></i>
      </button>
    </td> -->
    <td>{{ answer.keys_for_showing_answer | limitString }}</td>
    <td>{{ answer.keys_for_showing_answer_teach | limitString }}</td>
    <answer-weight :answer="answer"></answer-weight>
    <td>{{answer.weight_formula | limitString}}</td>
    <answer-vas :answer="answer"></answer-vas>
    <td>{{answer.auto_keys | limitString}}</td>
    <td>{{answer.keys_for_end_test | limitString}}</td>
    <td>{{ answer.force_score}}</td>
    <td>{{answer.notes | limitString}}</td>
    <answer-actions :answer="answer" @openSplitModal="opentrue(false)"></answer-actions>
    <MultiAnswersModal :title="MultiAnswersModalTitle" :open="open" @close="open=false" :answer="answer" :answers="answers" :edit="editModal" />
    <DisplayGroupEditModal :title="'DisplayGroupEditModalTitle'" :open="DGopen" @close="DGopen=false" :answer="answer" :answers="answers" :edit="editModal" />
    <AnswerGroupEditModal :title="'AnswerGroupEditModalTitle'" :open="AGopen.modal" @close="AGopen.modal=false" :answer="answer" :answers="answers" :edit="editModal" />
  </tr>
</template>

<script>
import { Modal, Btn } from "uiv";
import GlobalScore from "./form/GlobalScore.vue";
import MultiAnswersModal from "./form/MultiAnswersModal.vue";
import DisplayGroupEditModal from "./form/DisplayGroupEditModal.vue";
import AnswerGroupEditModal from "./form/AnswerGroupEditModal.vue";
import { mapActions, mapState, mapGetters } from "vuex";
import AnswerActions from "./AnswerActions";
import AnswerTitle from "./AnswerTitle";
import AnswerPriority from "./AnswerPriority";
import AnswerIndication from "./AnswerIndication";
import AnswerWeight from "./AnswerWeight";
import AnswerVas from "./AnswerVas";

export default {
  components: {
    AnswerGroupEditModal,
    DisplayGroupEditModal,
    Btn,
    MultiAnswersModal,
    GlobalScore,
    Modal,
    AnswerVas,
    AnswerActions,
    AnswerTitle,
    AnswerPriority,
    AnswerIndication,
    AnswerWeight
  },
  props: [
    "headers",
    "answer",
    "answers",
    "animationTimeOut",
    "allAnswersHaveDisplayGroups",
    "someAnswersHaveDisplayGroups",
    "titleToggle"
  ],

  computed: {
    answerGroupsRowspan() {
      let questionAnswerGroups = this.byAnswerGroups[this.answer.question_id];
      //   console.log(this.answer.question_id, { questionAnswerGroups });
      //!Caculate table TD Height.
      if (!questionAnswerGroups) return 0;
      //No Answer Group:
      if (questionAnswerGroups.undefined) return 1;
      //If same answer as first in the getter array , EXPAND the rowspan
      if (
        questionAnswerGroups[this.answer.answer_groups[0]][0].id ==
        this.answer.id
      )
        return questionAnswerGroups[this.answer.answer_groups[0]].length;
      else return 0;
    },
    chars() {
      return Object.values(this.answers);
    },
    ...mapGetters(["byAnswerGroups"]),
    ...mapState(["ColorOfAnswerRow", "editing"]),
    backgroundColor() {
      if (!this.editing) return false;
      return this.ColorOfAnswerRow == this.answer.id
        ? "backgroundColor: lightGray"
        : "opacity: 1";
    },
    computedGrouped() {
      return Object.values(this.answers).map(a => a[0].id);
    },
    rowSpan() {
      try {
        let grouped = Object.values(this.answers).map(a => {
          return {
            length: a.length,
            display_groups: a[0].display_groups.join(),
            id: a[0].id
          };
        });
        return (
          grouped.find(a => a.id == this.answer.id) || {
            length: 1,
            display_groups: ""
          }
        );
      } catch (error) {
        return { length: 1, display_groups: "" };
      }
    }
  },
  mounted() {
    // console.log(Object.values(this.answers));
    // let grouped = Object.values(this.answers).map(a => {
    //   return {
    //     length: a.length,
    //     display_groups: a[0].display_groups.join(),
    //     id: a[0].id
    //   };
    // });
  },
  data() {
    return {
      verticalCss: "vertical-align: middle; padding:0;",
      MultiAnswersModalTitle: "",
      editModal: false,
      GScore: false,
      characteristics: [],
      open: false,
      DGopen: false,
      AGopen: { modal: false, button: false },
      validated: false,
      notValidated: false
    };
  },
  methods: {
    header(title) {
      return this.headers.find(h => h.title == title).visible;
    },
    opentrue(editModal, DGopen) {
      if (DGopen) {
        console.log({ DGopen });
        this.editModal = true;
        this.DGopen = true;
        return true;
      }
      this.open = true;
      this.MultiAnswersModalTitle = editModal ? "Edit Modal" : "Select Char";
      this.editModal = editModal;
      console.log(this.answers);
      return true;
    },
    toggleGScore(p) {
      this.GScore = p;
    },
    ...mapActions(["validateCondition"]),
    async validateConditions() {
      let fields = [
        "weight_formula",
        "keys_for_showing_answer",
        "keys_for_showing_answer_teach",
        "vas_auto_answer_formula",
        "auto_keys"
      ];
      for (let field of fields) {
        if (!this.answer.hasOwnProperty(field) || !this.answer[field]) {
          continue;
        }
        try {
          let response = await this.validateCondition(this.answer[field]);
          if (
            typeof response.data === "string" &&
            response.data.includes("false")
          ) {
            this.notValidated = true;
          } else {
            this.validated = true;
          }
        } catch (error) {
          console.error(error);
        }
      }
      setTimeout(() => {
        this.validated = false;
        this.notValidated = false;
      }, 3000);
    }
  }
};
</script>
<style>
.item {
  font-size: 14px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
}
.itemFalse {
  padding: 0;
  font-size: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
}
.handHover.itemFalse {
  padding: 0px;
}
</style>
