<template>

  <td class="handHover" @click="edit = true" @blur="edit = false">
    <tooltip :text="String('ID ' + answer.id)">
      <inline-edit :edit="edit" :update-url="`/api/answers/${answer.id}/update`" :answer="answer" :field="answer.display_groups.length > 0 ? 'display_groups' : 'title'" :initial-value="initialValue" @updated="onUpdated" @failed="edit = false"></inline-edit>
    </tooltip>
  </td>
</template>
<script>
import { Tooltip } from "uiv";
import InlineEdit from "../../common/InlineEdit";

export default {
  name: "answer-title",
  props: ["answer"],
  components: { InlineEdit, Tooltip },
  data() {
    return {
      edit: false,
      show: true
    };
  },
  methods: {
    onUpdated() {
      this.edit = false;
    }
  },
  computed: {
      answerGroupJoined(){
          try {
return this.answer.display_groups.join().trim();
          }catch(e){
              return false
          }
      },
    initialValue() {
        
      if (!this.answerGroupJoined) return this.answer.title;

      return this.answer.display_groups.join();
    },
    displayGroup() {
      return this.answer.display_groups;
    }
  },
  watch: {
    // displayGroup(value) {
    //   this.show = !this.show;
    //   setTimeout(() => {
    //     this.show = !this.show;
    //   }, 100);
    // }
  }
};
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
