<template>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <button type="button" class="close panel-title pull-right" @click="setEditing(false)" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="panel-title pull-left" style="padding-top: 3px;">Available Params</h2>
    </div>
    <form>
      <div class="panel-body form">
        <component v-for="(param,index) in params" :is="component(param.type)" :key="param.id" :param="param">
        </component>
      </div>
      <div class="panel-footer">
        <button @click="update" class="btn btn-success input-btn" type="button">Update </button>
      </div>
    </form>
  </div>
</template>

<script>
import InputFormulaParams from "../../inputs/params/InputFormula";
import InputTextParams from "../../inputs/params/InputText";
import AnswerGlobalNoUnknown from "../../inputs/params/AnswerGlobalNoUnknown";
import { mapActions, mapState, mapMutations } from "vuex";

export default {
  name: "params-form",
  components: {
    InputFormulaParams,
    InputTextParams,
    AnswerGlobalNoUnknown
  },
  created() {
    // console.log(this.$store);
  },
  computed: {
    ...mapState(["params", "editing"])
  },
  methods: {
    ...mapActions(["updateAnswerParams"]),
    ...mapMutations(["setEditing"]),
    update() {
      this.updateAnswerParams(this.editing.parent)
        .then(response => {
          this.$toasted.success(response.data, {
            theme: "outline",
            position: "top-right",
            duration: 2000
          });
        })
        .catch(error => {
          this.$toasted.error("Something went wrong...", {
            theme: "outline",
            position: "top-right",
            duration: 2000
          });
        });
    },
    component(type) {
      switch (type) {
        case "checkbox":
          return "AnswerGlobalNoUnknown";
        case "text_input":
          return "InputTextParams";
          break;
        case "formula-input":
          return "InputFormulaParams";
          break;
        case "multi_score_input":
          return "InputMultiScore";
          break;
        default:
          break;
      }
    }
  }
};
</script>

<style scoped>
.form {
  overflow-y: auto;
  height: calc(100vh - 310px) !important;
}

.panel {
  margin-bottom: 0 !important;
}
</style>