<template>
  <td @click="edit = true">
    <inline-edit :edit="edit" :update-url="`/api/answers/${answer.id}/update`" :initial-value="answer.indication" :answer="answer" field="indication" @updated="edit = false" @failed="edit = false"></inline-edit>
  </td>
</template>

<script>
import InlineEdit from "../../common/InlineEdit";

export default {
  name: "answer-indication",
  props: ["answer"],
  components: { InlineEdit },
  data() {
    return {
      edit: false
    };
  }
};
</script>
