<template>
  <td style="min-width: 120px;">
    <div class="btn-group" role="group" aria-label="...">
      <button class="btn btn-sm btn-default" @click="editAnswerAndParams(answer.id)" v-tooltip="'edit'">
        <i class="far fa-edit"></i>
      </button>
      <button class="btn btn-sm btn-default" @click="openSplitModal" v-tooltip="'split'">
        <i class="far fa-object-ungroup"></i>
      </button>
      <button class="btn btn-sm btn-default" @click="onDuplicate" v-tooltip="'Duplicate'">
        <i class="far fa-copy"></i>
      </button>
      <button class="btn btn-sm btn-default" @click="onDelete" v-tooltip="'delete'">
        <i class="far fa-trash-alt"></i> </button>
      <button class="btn btn-sm btn-default" @click="onNewEdit(true)" v-tooltip="'New Edit'">
        NEW EDIT
      </button>
    </div>
  </td>
</template>

<script>
import { mapActions, mapMutations, mapState, mapGetters } from "vuex";
import { Modal, Btn } from "uiv";
import GlobalScore from "./form/GlobalScore.vue";
import MultiAnswersModal from "./form/MultiAnswersModal.vue";
export default {
  name: "answer-actions",
  props: ["answer"],
  components: { Modal, Btn, GlobalScore, MultiAnswersModal },
  computed: {
    comp_indication() {
      return this.questionOfSplitAnswer(this.answer.question_id).indication[0];
    },
    ...mapState(["globalScoreTypes"]),
    ...mapGetters(["questionOfSplitAnswer", "unCapitalize"])
  },
  data() {
    return {
      globalScoreSwitch: false,
      open: false,
      characteristics: [],
      other: ""
    };
  },
  methods: {
    ...mapActions([
      "setGlobalScoreAction",
      "deleteAnswer",
      "editAnswer",
      "editAnswerParams",
      "editAnswerParamsNew",
      "splitAnswer",
      "duplicateAnswer",
      "globalScoreApi"
    ]),
    // unCapitalize(string) {
    //   return string.charAt(0).toLowerCase() + string.slice(1);
    // },
    ...mapMutations([
      "setEditingParams",
      "setColorOfAnswerRow",
      "setEditing",
      "setEditingAnswer",
      "focusCreatedKeys",
      "onNewEdit"
    ]),
    editAnswerAndParams(id) {
      this.setColorOfAnswerRow(id);
      this.editAnswer(id);
      this.editAnswerParamsNew(id);
    },
    async openSplitModal() {
      this.characteristics = [];
      if (this.answer.tag[0] == undefined) {
        await swal(
          {
            title: "Cannot split answer",
            text: "Missing created keys",
            type: "warning"
          },
          async () => {
            // this.setEditing("edit");
            // await this.setEditingAnswer({
            //   parent: this.answer.question_id,
            //   type: "answer"
            // });
            // await this.setEditingParams({
            //   parent: this.answer.id,
            //   type: "answerParams"
            // });
            this.editAnswer(this.answer.id);
            setTimeout(() => {
              this.focusCreatedKeys(true);
            }, 200);
          }
        );

        return false;
      }
      this.$emit("openSplitModal");
      this.open = true;
      console.log(this.answer.tag);
    },
    onDuplicate() {
      swal(
        {
          title: "Duplicate Answer?",
          text: "This action will duplicate this record",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, duplicate it!",
          closeOnConfirm: true
        },
        () => {
          this.duplicateAnswer(this.answer.id)
            .then(response => {
              swal(
                "Duplicated!",
                "Your recspord has been duplicated.",
                "success"
              );
            })
            .catch(error => {
              console.log(error);
              swal("Oops", "Seems like something went wrong...", "error");
            });
        }
      );
    },
    onDelete(id) {
      swal(
        {
          title: "Are you sure?",
          text: "This action will delete this record from your database",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: true
        },
        () => {
          this.deleteAnswer(this.answer.id)
            .then(response => {
              swal("Deleted!", "Your record has been deleted.", "success");
            })
            .catch(error => {
              console.log(error);
              swal("Oops", "Seems like something went wrong...", "error");
            });
        }
      );
    },
    async onSplit() {
      this.setGlobalScoreAction({
        comp_indication: this.comp_indication,
        characteristics: this.characteristics,
        answer_tag: this.answer.tag,
        question_id: this.answer.question_id
      }).then(response => {
        this.$toasted.show("Automatic Global Question Created", {
          theme: "outline",
          position: "top-center",
          duration: 3000
        });
      });
      // this.setGlobalScore();
      this.open = false;
      this.splitAnswer({
        id: this.answer.id,
        characteristics: this.characteristics
      })
        .then(response => {
          this.characteristics = [];
          this.$toasted.success("Answer was split!", {
            theme: "outline",
            position: "top-right",
            duration: 2000
          });
        })
        .catch(error => console.log(error));
    }
  }
};
</script>

<style >
.btn,
.buttons,
.modal-footer .btn + .btn,
button {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}

.characteristic {
  display: inline-block;
  padding: 0 10px 0 10px;
  background: #337ab7;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  /* box-shadow */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.shadowed {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>