<template>
  <td>
    <button v-if="answer.vas_min_display || answer.vas_max_display" class="btn btn-primary btn-xs" :id="`btn${answer.id}`">HOVER ME
    </button>
    <span v-else>NOT VAS...</span>
    <popover title="VAS" :target="`#btn${answer.id}`" trigger="hover">
      <template slot="popover">
        <div v-if="answer.vas_min_display || answer.vas_max_display">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th class="text-center"></th>
                <th v-if="!answer.vas_dont_show_no" class="text-center">No</th>
                <th v-if="!answer.vas_dont_show_unknown" class="text-center">Unknown</th>
                <th class="text-center" v-if="answer.vas_show_less">Less</th>
                <th class="text-center thick-border-left">Min</th>
                <th class="text-center" :colspan="answer.vas_intermediate_display.length" v-if="answer.vas_intermediate_score.length > 0 || answer.vas_intermediate_display.length > 0">Intermediate</th>
                <th class="text-center thick-border-right">Max</th>
                <th class="text-center" v-if="answer.vas_show_more">More</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Score</td>
                <td v-if="!answer.vas_dont_show_no">{{answer.vas_no || 0}}</td>
                <td v-if="!answer.vas_dont_show_unknown">{{answer.vas_unknown || 0}}</td>
                <td v-if="answer.vas_show_less">{{answer.vas_less}}</td>
                <td class="thick-border-left">{{answer.vas_min || 0}}</td>
                <template v-if="answer.vas_intermediate_score.length > 0">
                  <td v-for="(score, index) in answer.vas_intermediate_score" :key="index">{{score}}</td>
                </template>
                <td class="thick-border-right">{{answer.vas_max || 0}}</td>
                <td v-if="answer.vas_show_more">{{answer.vas_more}}</td>
              </tr>
              <tr>
                <td>Display </td>
                <td v-if="!answer.vas_dont_show_no">{{answer.vas_no_label || '_no'}}</td>
                <td v-if="!answer.vas_dont_show_unknown">{{answer.vas_unknown_label || '_unknown'}}</td>
                <td v-if="answer.vas_show_less">_less</td>
                <td class="thick-border-left">{{Number(answer.vas_min_display)}}</td>
                <template v-if="answer.vas_intermediate_display.length > 0">
                  <td v-for="(display, index) in answer.vas_intermediate_display" :key="index">{{display}}</td>
                </template>
                <td class="thick-border-right">{{Number(answer.vas_max_display)}} </td>
                <td v-if="answer.vas_show_more">_more</td>
              </tr>
            </tbody>
          </table>
        </div>
        <template v-if="answer.vas_step">
          <span>STEP: {{answer.vas_step}}</span>
          <br>
        </template>
        <template v-if="answer.vas_explanation">
          <span>EXPLANATION: {{answer.vas_explanation}}</span>
          <br>
        </template>
        <template v-if="answer.vas_auto_answer_formula">
          <span>FORMULA: {{ answer.vas_auto_answer_formula }}</span>
          <br>
        </template>
      </template>
    </popover>
  </td>
</template>

<script>
import { Popover } from "uiv";

export default {
  name: "answer-vas",
  props: ["answer"],
  components: { Popover }
};
</script>

<style>
.popover {
  max-width: 100% !important; /* Max Width of the popover (depending on the container!) */
}
.thick-border-left {
  border-left: 2px solid #c6c6c6 !important;
}
.thick-border-right {
  border-right: 2px solid #c6c6c6 !important;
}
</style>

