<template>
  <div>
    <div class="accordion" id="accordionExample">
      <br>
      <button class="btn  btn-lg btn-block btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" @click="editAnswerParamsNew(ansId)">
        <div class="well">
          <div id="headingTwo">
            <h5 class="mb-0">
              Answer Params
            </h5>
          </div>
        </div>
      </button>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div style="height: 1050px">
          <form>
            <div>
              <component v-for="param in regularParams" :is="component(param.type,param.title)" :key="param.id" :param="param">
              </component>
            </div>
          </form>
        </div>
      </div>
    </div>
    <component v-for="param in checkboxParams" :is="component(param.type)" :key="param.id" :displayGroups="displayGroups" :param="param">
    </component>
    <component v-for="param in validationParams" :is="component(param.type)" :key="param.id" :displayGroups="displayGroups" :param="param">
    </component>
  </div>

</template>

<script>
import AnswerGlobalNoUnknown from "../../inputs/params/AnswerGlobalNoUnknown";
import TeachProbability from "../../inputs/params/TeachProbability";
import InputFormulaParams from "../../inputs/params/InputFormula";
import InputTextParams from "../../inputs/params/InputText";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";

export default {
  props: ["ansId", "displayGroups"],
  name: "params-form-new",
  components: {
    TeachProbability,
    AnswerGlobalNoUnknown,
    InputFormulaParams,
    InputTextParams
  },
  mounted() {
    // this.$nextTick(function() {
    //   console.log("this.params");
    //   setTimeout(() => {
    //     console.log(this.checkboxParams);
    //     console.log(this.params);
    //   }, 300);
    // });
  },
  computed: {
    ...mapState(["params", "editing"]),
    ...mapGetters(["checkboxParams", "regularParams", "validationParams"])
  },
  methods: {
    ...mapActions(["updateAnswerParams", "editAnswerParamsNew"]),
    ...mapMutations(["setEditing"]),
    update() {
      this.updateAnswerParams(this.editing.parent)
        .then(response => {
          this.$toasted.success(response.data, {
            theme: "outline",
            position: "top-right",
            duration: 2000
          });
        })
        .catch(error => {
          this.$toasted.error("Something went wrong...", {
            theme: "outline",
            position: "top-right",
            duration: 2000
          });
        });
    },
    component(type, title) {
      switch (type.trim()) {
        case "select":
          return "TeachProbability";
          break;
        case "checkbox":
          return "AnswerGlobalNoUnknown";
          break;
        case "text_input":
          //  console.log('type-->' + type + ' ___||___ title:' + title);
          return "InputTextParams";
          break;
        case "formula-input":
          return "InputFormulaParams";
          break;
        case "validation":
          return "InputFormulaParams";
          break;
        case "multi_score_input":
          return "InputMultiScore";
          break;
        default:
          return console.log("type-->" + type + " ___||___ title:" + title);
          //   // default:
          break;
      }
    }
  }
};
</script>

<style scoped>
.form {
  /* background-color: lightcoral !important; */
  overflow-y: auto;
  height: calc(150vh - 300px) !important;
}
.well {
  margin-bottom: 0;
  padding: 0 !important;
}
</style>