<template>
    <div>
        <input-number :value="question['teach_max_answers']" title="TEACH MAX ANSWERS" name="teach_max_answers" placeholder="Max number of selected answers in teach"  @input="updateQuestionField({field:'teach_max_answers',value:$event.target.value})"></input-number>
    </div>
</template>
 

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'QuestionMaxAnswersTech',
  computed: mapState(['question']),
  methods: mapMutations(['updateQuestionField'])
};
</script>

<style scoped>
</style>