<template>
    <div class = "col-md-12"
         style = "padding: 0;">
        <div class = "col-md-6"
             style = "padding-left: 0">
            <input-number :value = "Number(question['min_score'])"
                          title = "MIN SCORE"
                          name = "min_score"
                          @input = "updateQuestionField({field:'min_score',value:Number($event.target.value)})"></input-number>
        </div>
        <div class = "col-md-6"
             style = "padding-right: 0">
            <input-number :value = "Number(question['max_score'])"
                          title = "MAX SCORE"
                          name = "max_score"
                          @input = "updateQuestionField({field:'max_score',value:Number($event.target.value)})"></input-number>
        </div>
    </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  
  export default {
    computed: {
      ...mapState([ 'question' ]),
    },
    methods: {
      ...mapMutations([ 'updateQuestionField' ]),
    },
  };
</script>
