<template>
    <input-text
            :value = "question['title_doctor']"
            title = "TITLE FOR DOCTOR"
            placeholder = "Question title for doctor"
            name = "title_doctor"
            @input = "updateQuestionField({field:'title_doctor',value:$event.target.value})"
            :validation-errors = "getErrors({target: 'question',field:'title_doctor'})"></input-text>
</template>

<script>
  import { mapMutations, mapState, mapGetters } from 'vuex';
  
  export default {
    name: 'QuestionTitle',
    computed: {
      ...mapState([ 'question' ]),
      ...mapGetters([ 'getErrors' ]),
    },
    methods: {
      ...mapMutations([ 'updateQuestionField' ]),
    },
  };
</script>