<template>
    <input-tag :value = "question['question_tag']"
               :options = "keys"
               title = "CREATED KEYS"
               placeholder = "Search or add a tag"
               @remove-tag = "spliceFromParam({target:'question',field:'question_tag',value:$event})"
               @add-tag = "updateQuestionField({field:'question_tag',value: $event})"
               @search-change = "onSearch"
               :loading = "loading"
               :validation-errors = "getErrors({target:'question',field:'question_tag'})"
               @open="clearErrors({target:'question',field:'question_tag'})"></input-tag>
</template>

<script>
  import { mapState, mapMutations, mapActions, mapGetters } from 'vuex';
  
  export default {
    data ()
    {
      return {
        loading: false,
      };
    },
    computed: {
      ...mapState([ 'question', 'keys' ]),
      ...mapGetters([ 'getErrors' ]),
    },
    methods: {
      ...mapMutations([ 'updateQuestionField', 'spliceFromParam','clearErrors' ]),
      ...mapActions([ 'getKeys' ]),
      onSearch ()
      {
        this.loading = true;
        this.getKeys().then(() => (this.loading = false));
      },
    },
  };
</script>