<template>
    <input-text
            :value = "question['title'] || ''"
            title = "TITLE FOR PATIENT"
            name = "title"
            placeholder = "Question title for doctor"
            @input = "updateQuestionField({field:'title',value:$event.target.value})"></input-text>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  
  export default {
    name: 'QuestionTitlePatient',
    computed: mapState([ 'question' ]),
    methods: mapMutations([ 'updateQuestionField' ]),
  };
</script>

<style scoped>

</style>