<template>
    <input-tag :value="question['indication']" :options="indications" title="INDICATION" placeholder="Search or add a tag" @remove-tag="spliceFromParam({target:'question',field:'indication',value:$event})" @add-tag="updateQuestionField({field:'indication',value: $event})" @search-change="onSearch" :loading="loading"></input-tag>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  name: 'QuestionIndications',
  data() {
    return {
      loading: false
    };
  },
  computed: mapState(['question', 'indications']),
  methods: {
    ...mapMutations(['updateQuestionField', 'spliceFromParam']),
    ...mapActions(['getKeys']),
    onSearch() {
      this.loading = true;
      //        this.getKeys().then(() => (this.loading = false));
      this.getKeys().then(() => (this.loading = false));
    }
  }
};
</script>

<style scoped>
</style>