<template>
    <div class = "panel-footer">
        <button type = "submit"
                @click.prevent = "updateQuestion()"
                class = "btn btn-sm btn-success"
                v-if = "question.hasOwnProperty('id')">
            UPDATE
        </button>
        <button type = "submit"
                @click.prevent = "storeQuestion()"
                class = "btn btn-sm btn-success"
                v-else>
            SAVE
        </button>
    </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  
  export default {
    name: 'QuestionSubmit',
    computed: mapState([ 'question' ]),
    methods: mapActions([ 'storeQuestion', 'updateQuestion' ]),
  };
</script>

<style scoped>

</style>