<template>
    <input-text
            :value = "question['justification'] || ''"
            title = "EXPLANATION"
            name = "justification"
            @input = "updateQuestionField({field:'justification',value:$event.target.value})"></input-text>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  
  export default {
    name: 'QuestionExplanation',
    computed: mapState([ 'question' ]),
    methods: mapMutations([ 'updateQuestionField' ]),
  };
</script>

<style scoped>

</style>