<template>
    <div class = "col-md-12"
         style = "padding: 0;">
        <div class = "col-md-6"
             style = "padding-left: 0">
            <input-number :value = "Number(question['vas_min'])"
                          title = "VAS MIN SCORE"
                          name = "vas_min"
                          @input = "updateQuestionField({field:'vas_min',value:Number($event.target.value)})"></input-number>
        </div>
        <div class = "col-md-6"
             style = "padding-right: 0">
            <input-number :value = "Number(question['vas_max'])"
                          title = "VAS MAX SCORE"
                          name = "vas_max"
                          @input = "updateQuestionField({field:'vas_max',value:Number($event.target.value)})"></input-number>
        </div>
    </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  
  export default {
    computed: {
      ...mapState([ 'question' ]),
    },
    methods: {
      ...mapMutations([ 'updateQuestionField' ]),
    },
  };
</script>
