<template>
    <input-formula :value="question['tag'] || ''" :options="keys" title="REQUIRED KEY" placeholder="Required key for showing this question. Use @ for selecting keys" @keyup="updateQuestionField({field:'tag',value:$event.target.value})">
    </input-formula>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  name: 'QuestionRequiredKey',
  created() {
    //this.getKeys();
  },
  computed: {
    ...mapState(['question', 'keys'])
  },
  methods: {
    ...mapMutations(['updateQuestionField']),
    ...mapActions(['getKeys'])
  }
};
</script>

<style scoped>
</style>