<template>
    <div class = "col-md-12"
         style = "padding: 0;">
        <div class = "col-md-6"
             style = "padding-left: 0">
            <input-number :value = "Number(question['vas_min_display'])"
                          title = "VAS MIN DISPLAY"
                          name = "vas_min_display"
                          @input = "updateQuestionField({field:'vas_min_display',value:Number($event.target.value)})"></input-number>
        </div>
        <div class = "col-md-6"
             style = "padding-right: 0">
            <input-number :value = "Number(question['vas_max_display'])"
                          title = "VAS MAX DISPLAY"
                          name = "vas_max_display"
                          @input = "updateQuestionField({field:'vas_max_display',value:Number($event.target.value)})"></input-number>
        </div>
    </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  
  export default {
    computed: {
      ...mapState([ 'question' ]),
    },
    methods: {
      ...mapMutations([ 'updateQuestionField' ]),
    },
  };
</script>
