<template>
    <input-number
            :value = "question['priority']"
            title = "PRIORITY"
            name = "priority"
            placeholder = "Questions are sorted by priority"
            @input = "updateQuestionField({field:'priority',value:$event.target.value})"
            :validation-errors = "getErrors({target: 'question',field:'priority'})"></input-number>
</template>

<script>
  import { mapState, mapMutations, mapGetters } from 'vuex';
  
  export default {
    name: 'QuestionPriority',
    computed: {
      ...mapState([ 'question' ]),
      ...mapGetters([ 'getErrors' ]),
    },
    methods: {
      ...mapMutations([ 'updateQuestionField' ]),
    },
  };
</script>