<template>
    <input-number
            :value = "question['vas_step']"
            title = "VAS STEP"
            name = "vas_step"
            @input = "updateQuestionField({field:'vas_step',value:Number($event.target.value)})"></input-number>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  
  export default {
    name: 'QuestionVasStep',
    computed: mapState([ 'question' ]),
    methods: mapMutations([ 'updateQuestionField' ]),
  };
</script>

<style scoped>

</style>