<template>
  <div class="col-md-12" style="padding:0">
    <div class="col-md-6" style="padding-left: 0;">
      <input-select :value="question['question_type'] || ''" title="QUESTION TYPE" :options="['Main Surgery Factor','Critical Exam','General Health']" @selected="updateQuestionField({field:'question_type',value:$event})">
      </input-select>
    </div>
    <div class="col-md-6" style="padding-right: 0;">
      <input-select :value="question['answers_type'] || ''" title="ANSWERS TYPE" :options="['Single Answer','Multiple Answers','Slider','VAS','Automatic Question','Numeric Answer']" @selected="updateQuestionField({field:'answers_type',value:$event})">
      </input-select>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "QuestionTypes",
  computed: mapState(["question"]),
  methods: mapMutations(["updateQuestionField"])
};
</script>

<style scoped>
</style>