<template>
    <div class = "form-group">
        <input-checkbox :value = "!!question['is_auto']"
                        title = "AUTOMATIC QUESTION"
                        @checked = "updateQuestionField({field:'is_auto',value:$event})"></input-checkbox>
    </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  
  export default {
    name: 'QuestionAuto',
    computed: {
      ...mapState([ 'question' ]),
    },
    methods: {
      ...mapMutations([ 'updateQuestionField' ]),
    },
  };
</script>

<style scoped>

</style>