<template>
  <div>
    <h4 v-if="question.answers.length != 0" class="pull-left">Optional Answers</h4>
    <div class="btn-group pull-right">
      <button class="btn btn-sm btn-default " @click="createAnswer(question.id)" style="margin-right: 0;">
        + Add Answer
      </button>
      <button class="btn btn-sm btn-default" style="margin-right: 0;" @click="onValidating">Validate Answers</button>
    </div>

    <table v-if="question.answers.length != 0" class="table table-condensed table-responsive table-bordered text-center">
      <thead class="text-center">
        <tr>
          <th style=" padding: 0px;" :class="!titleToggle  ? 'item text-center': 'itemFalse text-center'" v-if="allAnswersHaveDisplayGroups && !animationTimeOut"> Display group
            <span style=" padding: 0px;" @click="onTitleToggle" class="glyphicon glyphicon-edit alias"> </span>
          </th>
          <th style="padding:0px 0px 5px 0px;margin:0;" :class="titleToggle  ? 'item text-center': 'itemFalse text-center'">
            <span @click="onTitleToggle" class="glyphicon glyphicon-edit alias"> </span>
            Title </th>
          <th v-for="(header, i) in visibleHeaders" @dblclick="header.visible=false" :key="i">{{header.title}}</th>
        </tr>
      </thead>
      <tbody>
        <answer v-for="(answer,index) in question.answers" :key="index" :headers="headers" :titleToggle="titleToggle" :animationTimeOut="animationTimeOut" :someAnswersHaveDisplayGroups="someAnswersHaveDisplayGroups" :allAnswersHaveDisplayGroups="allAnswersHaveDisplayGroups" :answers="answers" :answer="answer"></answer>
      </tbody>
    </table>
    <el-row v-if="notVisibleHeaders.length" style="color:darkGray">
      <span v-for="(header, i) in notVisibleHeaders" :key="i">
        <span @dblclick="header.visible=true">{{header.title}}</span>
        <el-divider direction="vertical"></el-divider>
      </span>
    </el-row>
  </div>
</template>

<script>
import { Tooltip } from "uiv";
import Answer from "./answer/Answer";
import { mapActions } from "vuex";

export default {
  components: { Tooltip, Answer },
  props: ["question"],
  data() {
    return {
      headers: [
        { title: "Characteristic", visible: true },
        { title: "Priority", visible: true },
        { title: "Created", visible: true },
        { title: "Indications", visible: true },
        { title: "Groups", visible: true },
        { title: "Keys for showing answer", visible: true },
        { title: "Keys for showing answer Teach", visible: true },
        { title: "Weight", visible: true },
        { title: "Weight Formula", visible: true },
        { title: "VAS", visible: true },
        { title: "Auto Keys", visible: true },
        { title: "Keys for End Test", visible: true },
        { title: "Force Score", visible: true },
        { title: "Notes", visible: true },
        { title: "Action", visible: true }
      ],
      animationTimeOut: false,
      someAnswersHaveDisplayGroups: false,
      allAnswersHaveDisplayGroups: false,
      titleToggle: true
    };
  },
  mounted() {
    // console.log(Object.values(this.answers));
    console.log("<><><>");
    this.allAnswersHaveDisplayGroups = _.flatten(
      Object.values(this.answers)
    ).some(a => a.display_groups[0]);
    this.someAnswersHaveDisplayGroups = _.flatten(
      Object.values(this.answers)
    ).some(a => a.display_groups[0]);
    // console.log(_.flatten(Object.values(this.answers)));
    if (this.someAnswersHaveDisplayGroups) this.titleToggle = false;
  },
  methods: {
    message(val) {
      return alert(val);
    },
    onTitleToggle() {
      if (!this.allAnswersHaveDisplayGroups) return;
      if (!this.titleToggle) {
        this.titleToggle = !this.titleToggle;
        setTimeout(() => {
          this.animationTimeOut = !this.animationTimeOut;
        }, 550);
      } else {
        setTimeout(() => {
          this.titleToggle = !this.titleToggle;
        }, 50);
        this.animationTimeOut = !this.animationTimeOut;
      }
    },
    ...mapActions(["createAnswer"]),
    onValidating() {
      this.$children.forEach(answer => answer.validateConditions());
    }
  },
  computed: {
    visibleHeaders() {
      return this.headers.filter(h => h.visible);
    },
    notVisibleHeaders() {
      return this.headers.filter(h => !h.visible);
    },
    answers() {
      return this._.groupBy(this.question.answers, answer => {
        return answer.display_groups.length > 0
          ? answer.display_groups[0]
          : answer.title;
      });
    }
  }
};
</script>
<style>
.item {
  font-size: 14px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
}
.itemFalse {
  padding: 0;
  font-size: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
}
.alias {
  cursor: alias;
  padding: 0;
}
/* .table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th
{ padding: 0} */
th {
  text-align: center;
}
</style>
