<template>
  <div class="panel panel-default">
    <question-heading></question-heading>
    <form @keypress="clearErrors({target:'question',field:$event.target.name})">
      <div class="panel-body form">
        <question-auto></question-auto>
        <question-title></question-title>
        <question-title-patient></question-title-patient>
        <question-priority></question-priority>
        <question-types></question-types>
        <question-required-key></question-required-key>
        <question-required-key-tech></question-required-key-tech>
        <question-keys></question-keys>
        <question-indications></question-indications>
        <question-scores></question-scores>
        <question-vas-score></question-vas-score>
        <question-vas-display></question-vas-display>
        <question-vas-step></question-vas-step>
        <question-explanation></question-explanation>
        <question-max-answers-teach></question-max-answers-teach>
      </div>
      <question-submit></question-submit>
    </form>
  </div>

</template>

<script>
import { mapMutations } from "vuex";
import QuestionAuto from "./form/QuestionAuto";
import QuestionTitle from "./form/QuestionTitle";
import QuestionTitlePatient from "./form/QuestionTitlePatient";
import QuestionPriority from "./form/QuestionPriority";
import QuestionTypes from "./form/QuestionTypes";
import QuestionRequiredKey from "./form/QuestionRequiredKey";
import QuestionRequiredKeyTech from "./form/QuestionRequiredKeyTech";
import QuestionKeys from "./form/QuestionKeys";
import QuestionIndications from "./form/QuestionIndications";
import QuestionScores from "./form/QuestionScores";
import QuestionVasScore from "./form/QuestionVasScore";
import QuestionVasDisplay from "./form/QuestionVasDisplay";
import QuestionVasStep from "./form/QuestionVasStep";
import QuestionExplanation from "./form/QuestionExplanation";
import QuestionMaxAnswersTeach from "./form/QuestionMaxAnswersTech";
import QuestionHeading from "./form/QuestionHeading";
import QuestionSubmit from "./form/QuestionSubmit";

export default {
  components: {
    QuestionHeading,
    QuestionAuto,
    QuestionTitle,
    QuestionTitlePatient,
    QuestionPriority,
    QuestionTypes,
    QuestionRequiredKey,
    QuestionRequiredKeyTech,
    QuestionKeys,
    QuestionIndications,
    QuestionScores,
    QuestionVasScore,
    QuestionVasDisplay,
    QuestionVasStep,
    QuestionExplanation,
    QuestionMaxAnswersTeach,
    QuestionSubmit
  },
  methods: {
    ...mapMutations(["clearErrors"])
  }
};
</script>

<style scoped>
.form {
  overflow-y: auto;
  height: calc(100vh - 210px) !important;
}

.panel {
  margin-bottom: 0 !important;
}
</style>