<template>
  <div :class="{'panel':true, 'panel-success': isEdited(question.id), 'panel-default': !isEdited(question.id)}">

    <question-heading :question=" question "></question-heading>
    <!-- @autoQ="openAutoQuestion=!openAutoQuestion" -->
    <Collapse class="panel-body " v-model="question.display ">
      <h4>Question Parameters</h4>
      <question-params :question="question "></question-params>
      <answers :question="question "></answers>
    </Collapse>
    <Collapse v-model="openAutoQuestion">
      <QuestionForm />
    </Collapse>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import QuestionHeading from "./QuestionHeading";
import QuestionParams from "./QuestionParams";
import { Popover } from "uiv";
import { Collapse } from "uiv";
import { Tooltip } from "uiv";
import Answers from "./Answers";
import QuestionForm from "./QuestionForm";
export default {
  components: {
    QuestionForm,
    Popover,
    Collapse,
    Tooltip,
    Answers,
    QuestionHeading,
    QuestionParams
  },

  props: ["question", "answers"],

  mounted() {
    // this.getDisplay(this.question.id);
    // this.limitTitle();
  },

  // beforeUpdate ()
  // {
  //   this.getDisplay(this.question.id);
  // },

  data() {
    return {
      openAutoQuestion: false,
      triggerPopover: "hover",
      filteredAnswers: [],
      editIndication: false
    };
  },
  computed: {
    ...mapGetters(["isEdited", "questionAnswerGroups"])
  },
  methods: {
    ...mapActions(["getDisplayGroups"]),
    limitTitle() {
      let len = this.question.title_doctor.length;
      if (len > 10) {
        this.question.title_doctor.substr(0, 10) + "...";
      }
    },

    capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },

    makeDataObject(field) {
      let data = {};
      data[field] = this.question[field];
      data.title_doctor = this.question.title_doctor;
      data.priority = this.question.priority;
      return data;
    },

    toggleInput(field, flag) {
      field = "edit" + this.capitalize(field);
      this[field] = flag;
    },

    update(field) {
      let data = this.makeDataObject(field);
      this.toggleInput(field, false);
      axios
        .post(`/api/questions/${this.question.id}/update`, data)
        .then(response => {
          console.log(response.data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },

    filterAnswers() {
      console.log("init from question");
      let question_id = this.question.id;
      this.answers.forEach(answer => {
        if (String(answer.question_id) === question_id) {
          this.filteredAnswers.push(answer);
        }
      });
    },

    getDisplay(id) {
      this.$parent.questions_display.forEach(value => {
        if (value === id) {
          this.question.display = true;
        }
      });
    }
  }
};
</script>