<template>
    <div v-bar="{ preventParentScroll: false, scrollThrottle: 30}">
        <div class="panel-group">

            <question v-for="question in questions" :key="question.id" :question="question">
            </question>
        </div>
    </div>
</template>

<script>
import Question from './Question';
import { mapState } from 'vuex';

export default {
  components: { Question },
  computed: {
    ...mapState(['questions'])
  }
};
</script>

<style scoped>
.panel-group {
  height: calc(100vh - 215px) !important;
  margin-bottom: 0;
}
</style>