<template>
  <div class="panel-heading clearfix handHover" @click="onClick">
    <h2 class="panel-title pull-left question-title" style="padding-top: 7.5px;">
      <button @click.stop="$emit('autoQ')" class="badge badge-secondary pull-left">
        #{{question.id}}
      </button>

      &nbsp;&nbsp;{{question.title_doctor}}</h2>
    <div class=" pull-right ">
      <span v-if="question.is_auto " class="label label-primary ">AUTO</span>
      <span v-if="question.teach_max_answers " class="label label-primary ">MAX: {{question.teach_max_answers}}</span>
      <span class="endTest" v-if="someEndTest"> <i class="fa fa-flag" aria-hidden="true"></i> End</span>
      <span class="label label-info ">PRIORITY: {{question.priority}}</span>
      <Popover v-if="question.vas_min || question.vas_max " title="VAS " trigger="hover ">
        <span data-role="trigger " class="label label-primary ">VAS</span>
        <div slot="popover ">
          <p>{{ question.vas_min }} - {{ question.vas_max }} <br> (Display: {{question.vas_min_display}} - {{question.vas_max_display}} | Step: {{question.vas_step}}) <br> {{question.justification}}
          </p>
        </div>
      </Popover>
      <Popover v-if="question.vas_min_display && !question.vas_min " title="DISPLAY " trigger="hover ">
        <span data-role="trigger " class="label label-primary ">DISPLAY</span>
        <div slot="popover ">
          <p>{{question.vas_min_display}} - {{question.vas_max_display}} <br> {{question.justification}}
          </p>
        </div>
      </Popover>
      <Popover v-if="question.tag " title="Required Key " trigger="hover ">
        <span data-role="trigger " class="label label-primary ">R.KEY</span>
        <div slot="popover ">
          <p>{{ question.tag }}</p>
        </div>
      </Popover>
      <Popover v-if="question.question_tag.length> 0" trigger="hover" title="Question Key">
        <span v-if="question.question_tag" data-role="trigger" class="label label-primary">Q.KEY</span>
        <div slot="popover">
          <p>{{ question.question_tag.join() }}</p>
        </div>
      </Popover>
      <Popover v-if="question.question_type" trigger="hover" title="Question Type">
        <span data-role="trigger" class="label label-primary">{{ question.question_type}}</span>
        <div slot="popover">
          <p>{{ question.question_type }}</p>
        </div>
      </Popover>
      <Popover v-if="question.answers_type" trigger="hover" title="Answers Type">
        <span data-role="trigger" class="label label-primary">{{question.answers_type}}</span>
        <div slot="popover">
          <p>{{question.answers_type }}</p>
        </div>
      </Popover>

    </div>

  </div>
  </div>
</template>

<script>
import { Popover } from "uiv";
import { mapMutations, mapState } from "vuex";

export default {
  name: "question-heading",

  props: ["question"],
  components: { Popover },
  computed: {
    someEndTest() {
      return this.question.answers.some(a => !!a.end_test);
    }
  },
  methods: {
    ...mapMutations(["toggleVisible"]),
    onClick() {
      this.question.display = !this.question.display;
      this.toggleVisible(this.question.id);
    }
  }
};
</script>