<template>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-sm btn-default" v-tooltip="'edit'" @click="editQuestion(question.id)">
      <i class="far fa-edit"></i>
    </button>
    <button type="button" class="btn btn-sm btn-default" v-tooltip="'duplicate'" @click="onDuplicate(question.id)">
      <i class="far fa-copy"></i>
    </button>
    <button type="button" class="btn btn-sm btn-default" v-tooltip="'delete'" @click="onDelete">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "question-actions",
  props: ["question"],
  methods: {
    ...mapActions([
      "editQuestion",
      "deleteQuestion",
      "getQuestions",
      "duplicateQuestion"
    ]),
    onDuplicate() {
      swal(
        {
          title: "Duplicate Question?",
          text: "This action will duplicate this record",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, duplicate it!",
          closeOnConfirm: true
        },
        () => {
          this.duplicateQuestion({ id: this.question.id, imported: false })
            .then(response => {
              swal(
                "Duplicated!",
                "Your recspord has been duplicated.",
                "success"
              );
            })
            .catch(error => {
              console.log(error);
              swal("Oops", "Seems like something went wrong...", "error");
            });
        }
      );
    },
    onDelete() {
      swal(
        {
          title: "Are you sure?",
          text: "This action will delete this record from your database",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: true
        },
        () => {
          this.deleteQuestion(this.question.id)
            .then(response => {
              swal("Deleted!", "Your record has been deleted.", "success");
            })
            .catch(error => {
              console.log(error);
              swal("Oops", "Seems like something went wrong...", "error");
            });
        }
      );
    }
  }
};
</script>

<style scoped>
</style>