<template>
    <td @click="edit = true">
        <inline-edit :edit="edit"
                     :update-url="`/api/questions/${question.id}/update`"
                     :initial-value="question.priority"
                     :question="question"
                     field="priority"
                     @updated="edit = false"
                     @failed="edit = false"></inline-edit>
    </td>
</template>

<script>
    import InlineEdit from '../common/InlineEdit';

    export default {
        name: 'question-priority',
        props: ['question'],
        components: { InlineEdit },
        data() {
            return {
                edit: false,
            };
        },
    };
</script>
