<template>
    <table class = "text-center table table-condensed table-bordered">
        <thead>
        <tr>
            <th class = "text-center">Title for patient</th>
            <th class = "text-center">Required key</th>
            <th class = "text-center">Required key Teach</th>
            <th class = "text-center">Question key</th>
            <th class = "text-center">Score</th>
            <th class = "text-center">Priority</th>
            <th class = "text-center">Indication</th>
            <th class = "text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{question.title}}</td>
            <td>{{question.tag}}</td>
            <td>{{question.tag_teach}}</td>
            <td>{{question.question_tag.join()}}</td>
            <td>{{question.min_score}} - {{question.max_score}}</td>
            <question-priority :question="question"></question-priority>
            <question-indication :question = "question"></question-indication>
            <td>
                <question-actions :question = "question"></question-actions>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
  import QuestionActions from './QuestionActions';
  import QuestionIndication from './QuestionIndication';
  import QuestionPriority from './QuestionPriority';
  
  export default {
    name: 'question-params',
    props: [ 'question' ],
    components: { QuestionActions, QuestionIndication , QuestionPriority},
  };
</script>