<template>
    <input-number :value="answer['weight']"
                  title="WEIGHT"
                  name="weight"
                  placeholder="Weight - positive or negative number"
                  @input="updateAnswerField({field:'weight',value:$event.target.value})"></input-number>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  computed: {
    ...mapState(["answer"])
  },
  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>
