<template>
  <div class="col-md-12 grid">
    <div :class="[columnSize, 'column']" v-if="answer.vas_show_less || answer.vas_less">
      <div class="form-group">
        <label class="cut-text">VAS LESS</label>
        <input type="text" class="form-control" disabled value="_less">
      </div>

    </div>

    <div :class="[answer.vas_show_less || answer.vas_show_more ? 'col-md-2':'col-md-3', 'column']">
      <input-number :value="parseFloat(answer['vas_min_display'])" title="VAS MIN DISPLAY" placeholder="VAS min display score" name="vas_min_display" :disabled="vasDisabled" @input="updateAnswerField({field:'vas_min_display',value:$event.target.value})"></input-number>
    </div>
    <div :class="[intermedeiateColumn]" style="padding: 0;">
      <input-multi :show="show" :disabled="vasDisabled" :values="answer.vas_intermediate_display" title="VAS INTERMEDIATE DISPLAY" name="vas_intermediate_display" @input-changed="updateAnswerField({field: 'vas_intermediate_display', value: $event})" @input-added="increment()" @input-removed="decrement()" :validation-errors="getErrors({target:'answer',field:'vas_intermediate_display'})"></input-multi>
    </div>

    <transition name="amir-fade" mode="out-in">
      <div v-if="toggleVasDisplay" key="1" :class="[answer.vas_show_less || answer.vas_show_more ? 'col-md-2':'col-md-3', 'column']">
        <input-number :value="parseFloat(answer['vas_max_display'])" title="VAS MAX DISPLAY" name="vas_max_display" placeholder="VAS max display score" :disabled="vasDisabled" @input="updateAnswerField({field:'vas_max_display',value:$event.target.value})"></input-number>
        <div>
        </div>
      </div>
      <div v-else key="2" :class="[answer.vas_show_less || answer.vas_show_more ? 'col-md-2':'col-md-3', 'column']">
        <input-formula :height="1" :value="String(answer['vas_max_display'])" title="F MAX DISPLAY" name="vas_max_display" placeholder="VAS max display score" :disabled="vasDisabled" :options="keys" @keyup="updateAnswerField({field:'vas_max_display',value:$event.target.value})"></input-formula>
        <div>
        </div>
      </div>
    </transition>

    <div :class="[columnSize, 'column']" v-if="answer.vas_show_more || answer.vas_more">
      <div class="form-group">
        <label class="cut-text">VAS MORE</label>
        <input type="text" class="form-control" disabled value="_more">
      </div>

    </div>
    <button @click.prevent="toggleVasDisplay=!toggleVasDisplay"></button>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  data() {
    return {
      show: [],
      toggleVasDisplay: true
    };
  },
  created() {
    this.answer.vas_intermediate_score.length > 0
      ? (this.show = this.answer.vas_intermediate_score.map(
          (value, index) => index + 1
        ))
      : this.show.push(1);
  },
  computed: {
    ...mapState(["answer", "keys"]),
    ...mapGetters(["getErrors", "vasDisabled"]),
    isFull() {
      return this.show.length === 100;
    },
    columnSize() {
      if (this.answer.vas_show_more || this.answer.vas_show_less) {
        return this.show.length > 2 &&
          (this.answer.vas_show_more && this.answer.vas_show_less)
          ? "col-md-1"
          : "col-md-2";
      }
      return "col-md-3";
    },
    intermedeiateColumn() {
      return this.show.length > 2 ||
        !this.answer.vas_show_more ||
        !this.answer.vas_show_less
        ? "col-md-6"
        : "col-md-4";
    }
  },
  methods: {
    ...mapMutations(["updateAnswerField"]),
    increment() {
      // if (this.isFull) return;
      // this.show.push(this.show[this.show.length - 1] + 1);
    },
    decrement() {
      // if (this.show.length === 1) return;
      //   this.show.pop();
    }
  }
};
</script>

<style scoped>
.grid {
  padding: 0;
}

.column {
  padding-left: 0;
  padding-right: 2px;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.amir-fade-enter-active {
  transition: all 0.15s ease;
}
.amir-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.amir-fade-enter, .amir-fade-leave-to
/* .amir-fade-leave-active below version 2.1.8 */ {
  transform: translateY(40px);
  opacity: 0;
}
.vasDisplayFormula label {
  color: blue;
}
</style>
