<template>
    <div class="form-group">
        <input-checkbox :value="!!answer.vas_show_less" title="VAS SHOW LESS" @checked="updateAnswerField({field:'vas_show_less',value: $event})"></input-checkbox>
        <input-checkbox :value="!!answer.vas_show_more" title="VAS SHOW MORE" @checked="updateAnswerField({field:'vas_show_more',value: $event})"></input-checkbox>
    </div>

</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'AnswerVasShowMoreLess',
  computed: {
    ...mapState(['answer'])
  },
  methods: {
    ...mapMutations(['updateAnswerField'])
  }
};
</script>