<template>
    <div class="col-md-12 grid">
        <div :class="[columnSize,'column']"
             v-if="answer.vas_show_less || answer.vas_less">
            <answer-vas-less></answer-vas-less>
        </div>
        <div :class="[answer.vas_show_less || answer.vas_show_more ? 'col-md-2':'col-md-3', 'column']">
            <input-text :value="answer['vas_min']"
                        title="VAS MIN SCORE"
                        placeholder="VAS min score"
                        name="vas_min"
                        :disabled="vasDisabled"
                        @input="updateAnswerField({field:'vas_min',value:$event.target.value})"></input-text>
        </div>
        <div :class="[intermedeiateColumn]"
             style="padding: 0;">
            <input-multi :show="show"
                         :disabled="vasDisabled"
                         :values="answer['vas_intermediate_score']"
                         name="vas_intermediate_score"
                         title="VAS INTERMEDIATE SCORE"
                         @input-changed="updateAnswerField({field: 'vas_intermediate_score', value: $event})"
                         @input-added="increment()"
                         @input-removed="decrement()"
                         :validation-errors="getErrors({target:'answer',field:'vas_intermediate_score'})"></input-multi>
        </div>
        <div :class="[answer.vas_show_less || answer.vas_show_more ? 'col-md-2':'col-md-3', 'column']">
            <input-text :value="answer['vas_max']"
                        title="VAS MAX SCORE"
                        name="vas_max"
                        placeholder="VAS max score"
                        :disabled="vasDisabled"
                        @input="updateAnswerField({field:'vas_max',value:$event.target.value})"></input-text>
        </div>
        <div :class="[columnSize, 'column']" v-if="answer.vas_show_more || answer.vas_more">
            <answer-vas-more></answer-vas-more>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
import AnswerVasLess from "./AnswerVasLess";
import AnswerVasMore from "./AnswerVasMore";

export default {
  data() {
    return {
      show: []
    };
  },
  components: { AnswerVasLess, AnswerVasMore },
  created() {
    this.answer.vas_intermediate_score.length > 0
      ? (this.show = this.answer.vas_intermediate_score.map(
          (value, index) => index + 1
        ))
      : this.show.push(1);
  },
  computed: {
    ...mapState(["answer"]),
    ...mapGetters(["getErrors", "vasDisabled"]),
    isFull() {
      return this.show.length === 3;
    },
    columnSize(){
        if(this.answer.vas_show_more || this.answer.vas_show_less) {
            return this.show.length > 2 && (this.answer.vas_show_more && this.answer.vas_show_less) ? 'col-md-1' :'col-md-2';
        }
        return 'col-md-3';
    },
    intermedeiateColumn() {
        return this.show.length > 2 || !this.answer.vas_show_more || !this.answer.vas_show_less ? 'col-md-6' : 'col-md-4';
    }
  },
  methods: {
    ...mapMutations(["updateAnswerField"]),
    increment() {
      if (this.isFull) return;
      this.show.push(this.show[this.show.length - 1] + 1);
    },
    decrement() {
      if (this.show.length === 1) return;
      this.show.pop();
    }
  }
};
</script>

<style scoped>
.grid {
  padding: 0;
}

.column {
  padding-left: 0;
  padding-right: 2px;
}
</style>

