<template>
    <input-text :value="answer['vas_more']"
                title="VAS MORE"
                name="vas_more"
                placeholder="Score for _more"
                @input="updateAnswerField({field:'vas_more',value:$event.target.value})"
                :validation-errors="getErrors({target: 'answer',field:'vas_more'})"></input-text>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  computed: {
    ...mapState(["answer"]),
    ...mapGetters(["getErrors"])
  },
  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>
