<template>
  <div class="panel-heading clearfix">
    <button type="button" class="close panel-title pull-right" @click="setEditing(false)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="panel-title pull-left" style="padding-top: 3px;">
      {{answer.title}} {{answer.id}}
    </h2>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
  computed: {
    ...mapState(["answer"])
  },
  methods: {
    ...mapMutations(["setEditing"])
  }
};
</script>
