<template>
    <input-tag :value="answer['indication']" :options="indications" title="INDICATIONS" placeholder="Search or add a tag" @remove-tag="spliceFromParam({target:'answer',field:'indication',value:$event})" @add-tag="updateAnswerField({field:'indication',value: $event})" @search-change="onSearch" :loading="loading"></input-tag>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
export default {
  data() {
    return {
      loading: false
    };
  },
  created() {
    this.loading = true;
    this.getIndications().then(() => (this.loading = false));
  },
  computed: mapState(['answer', 'indications']),
  methods: {
    ...mapMutations(['updateAnswerField', 'spliceFromParam']),
    ...mapActions(['getIndications']),
    onSearch() {
      this.loading = true;
      this.getIndications().then(() => (this.loading = false));
    }
  }
};
</script>

