<template>
  <input-number :value="answer['priority']"
                title="PRIORITY"
                name="priority"
                placeholder="Priority - number. higher shows first"
                @input="updateAnswerField({field:'priority',value:$event.target.value})"
                :validation-errors="getErrors({target: 'answer',field:'priority'})"></input-number>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
export default {
  computed: {
    ...mapState(["answer"]),
    ...mapGetters(["getErrors"])
  },
  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>
