<template>
    <input-text :value="answer['vas_explanation'] || ''"
                title="VAS EXPLANATION"
                name="vas_explanation"
                placeholder="VAS explanation text"
                :disabled="vasDisabled"
                @input="updateAnswerField({field:'vas_explanation',value:$event.target.value})"></input-text>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
export default {
  computed: {
    ...mapState(["answer"]),
    ...mapGetters(['vasDisabled'])
  },
  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>

