<template>
    <input-formula :value="answer['vas_auto_answer_formula'] || ''"
                   title="VAS AUTO ANSWER FORMULA"
                   :options="keys"
                   name="vas_auto_answer_formula"
                   placeholder="VAS auto answer formula. use @ to select keys, or leave empty"
                   :disabled="vasDisabled"
                   @keyup="updateAnswerField({field:'vas_auto_answer_formula',value:$event.target.value})"
                   :validation-errors="getErrors({target: 'answer',field:'vas_auto_answer_formula'})"></input-formula>
</template>

<script>
    import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';

    export default {
        created() {
            //this.getKeys();
        },
        computed: {
            ...mapState(['answer', 'keys']),
            ...mapGetters(['vasDisabled', 'getErrors']),
        },
        methods: {
            ...mapMutations(['updateAnswerField']),
            ...mapActions(['getKeys']),
        },
    };
</script>
