<template>
    <input-number :value="answer['force_score'] ? Number(answer['force_score']) : null"
                  title="FORCE SCORE"
                  name="force_score"
                  placeholder="Force score - positive or negative number"
                  @input="updateAnswerField({field:'force_score',value:$event.target.value})"></input-number>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  computed: {
    ...mapState(["answer"])
  },
  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>
