<template>
    <input-formula :value="answer['keys_for_end_test'] || ''"
                   title="KEYS FOR END TEST"
                   :options="keys"
                   placeholder="Required key condition for ENDING the test. Use @ to select keys."
                   @keyup="updateAnswerField({field:'keys_for_end_test',value:$event.target.value})"></input-formula>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  created() {
    //this.getKeys();
  },
  computed: {
    ...mapState(["answer", "keys"])
  },
  methods: {
    ...mapMutations(["updateAnswerField"]),
    ...mapActions(["getKeys"])
  }
};
</script>