<template>
    <input-text :value="answer['vas_less']"
                title="VAS LESS"
                name="vas_less"
                placeholder="Score for _less"
                @input="updateAnswerField({field:'vas_less',value:$event.target.value})"
                :validation-errors="getErrors({target: 'answer',field:'vas_less'})"></input-text>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  computed: {
    ...mapState(["answer"]),
    ...mapGetters(["getErrors"])
  },
  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>
