<template>
    <input-number :value="answer['vas_unknown']" title="VAS UNKNOWN" name="vas_unknown" placeholder="Score for _unknown" @input="updateAnswerField({field:'vas_unknown',value:$event.target.value})" :validation-errors="getErrors({target: 'answer',field:'vas_unknown'})"></input-number>
</template>
<script>
//:disabled="answer['vas_dont_show_unknown']"
import { mapState, mapMutations, mapGetters } from 'vuex';
export default {
  computed: {
    ...mapState(['answer']),
    ...mapGetters(['getErrors'])
  },
  methods: {
    ...mapMutations(['updateAnswerField'])
  }
};
</script>
