<template>
    <input-number :value="answer['vas_no']" title="VAS NO" name="vas_no" placeholder="Score for _no" @input="updateAnswerField({field:'vas_no',value:$event.target.value})" :validation-errors="getErrors({target: 'answer',field:'vas_no'})"></input-number>
</template>

<script>
//  :disabled="answer['vas_dont_show_no']"
import { mapState, mapMutations, mapGetters } from 'vuex';
export default {
  computed: {
    ...mapState(['answer']),
    ...mapGetters(['getErrors'])
  },
  methods: {
    ...mapMutations(['updateAnswerField'])
  }
};
</script>
