<template>
    <input-formula :value="answer['keys_for_showing_answer_teach'] || ''"
                   title="KEYS FOR SHOWING ANSWER TEACH"
                   :options="keys"
                   placeholder="Condition for showing this object in teach. use @ to select keys, or leave empty"
                   @keyup="updateAnswerField({field:'keys_for_showing_answer_teach',value: $event.target.value})"></input-formula>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  created() {
    //this.getKeys();
  },
  computed: {
    ...mapState(["answer", "keys"])
  },
  methods: {
    ...mapMutations(["updateAnswerField"]),
    ...mapActions(["getKeys"])
  }
};
</script>