<template>
    <input-formula :value="answer['weight_formula'] || ''" title="WEIGHT FORMULA" :options="keys" placeholder="Condition for showing this object in teach. use @ to select keys, or leave empty" @keyup="updateAnswerField({field:'weight_formula',value:$event.target.value})"></input-formula>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
export default {
  created() {
    this.getKeys();
  },
  computed: {
    ...mapState(['answer', 'keys'])
  },
  methods: {
    ...mapMutations(['updateAnswerField']),
    ...mapActions(['getKeys'])
  }
};
</script>

