<template>
  <div>
    <input-checkbox :value="value" title="Not Required" name="validation" @checked="updateAnswerField({field: 'validation',value: {notRequired: $event} })">
    </input-checkbox>
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from "vuex";

export default {
  created() {
    console.log("this.answer.validation.notRequired");
    //console.log(this.answer);
  },
  computed: {
    ...mapState(["answer"]),
    ...mapGetters(["getErrors"]),
    value() {
      return this.answer.validation &&
        this.answer.validation.hasOwnProperty("notRequired")
        ? this.answer.validation.notRequired
        : false;
    }
  },

  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>
