<template>
    <input-number :value = "answer['vas_step']"
                  title = "VAS STEP"
                  :disabled = "vasDisabled"
                  name = "vas_step"
                  @input = "updateAnswerField({field:'vas_step',value:$event.target.value})"></input-number>
</template>

<script>
  import { mapState, mapMutations, mapGetters } from 'vuex';
  
  export default {
    computed: {
      ...mapState([ 'answer' ]),
      ...mapGetters([ 'vasDisabled' ]),
    },
    methods: {
      ...mapMutations([ 'updateAnswerField' ]),
    },
  };
</script>
