<template>
  <input-tag ref="createdKeyInput" :value="answer['tag']" :options="keys" title="CREATED KEYS" placeholder="Search or add a tag" @remove-tag="spliceFromParam({target:'answer',field:'tag',value:$event})" @add-tag="beforeUpdateAnswerField($event)" @search-change="onSearch" :loading="loading"></input-tag>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  watch: {
    activateFocusCreatedKeys(old, newVal) {
      if (!newVal) this.$refs.createdKeyInput.$children[0].$el.focus();
    }
  },
  mounted() {
    //alert(this.activateFocusCreatedKeys);
    // if (!this.activateFocusCreatedKeys)
    //   this.$refs.createdKeyInput.$children[0].$el.focus();
  },
  data() {
    return {
      loading: false
    };
  },
  computed: mapState(["answer", "keys", "activateFocusCreatedKeys"]),

  methods: {
    beforeUpdateAnswerField(value) {
      if (value) this.$emit("displayGroupAnswer");
      this.updateAnswerField({ field: "tag", value });
    },
    ...mapMutations(["updateAnswerField", "spliceFromParam"]),
    ...mapActions(["getKeys"]),
    onSearch() {
      this.loading = true;
      this.getKeys().then(() => (this.loading = false));
    }
  }
};
</script>
