<template>
  <div class="panel-footer">

    <input type="submit" class="btn btn-sm btn-success" :disabled="hasAnyErrors('answer')" value="UPDATE" v-if="answer.hasOwnProperty('id')" @click.prevent="updateAnswer()">

    <input type="submit" class="btn btn-sm btn-success" :disabled="hasAnyErrors('answer')" value="SAVE" v-else @click.prevent="storeAnswer()">
    <transition name="el-fade-in-linear">
      <input type="submit" class="btn btn-success pull-right" value="Remove Errors" v-if="hasAnyErrors('answer') && answer.hasOwnProperty('id')" @click.prevent="clearAllErrors">
    </transition>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
export default {
  computed: {
    ...mapState(["answer"]),
    ...mapGetters(["hasAnyErrors"])
  },
  methods: {
    ...mapActions(["storeAnswer", "updateAnswer"]),
    ...mapMutations(["clearAllErrors"])
  }
};
</script>
<style >
.transition-box {
  margin-bottom: 10px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  background-color: #409eff;
  text-align: center;
  color: #fff;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-right: 20px;
}
</style>