<template>
    <input-text :value="answer['vas_unknown_label']" title="VAS UNKNOWN LABEL" name="vas_unknown_label" placeholder="Label for _unknown" @input="updateAnswerField({field:'vas_unknown_label',value:$event.target.value})" :validation-errors="getErrors({target: 'answer',field:'vas_unknown_label'})"></input-text>
</template>

<script>
//   :disabled="answer['vas_dont_show_unknown']"
import { mapState, mapMutations, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapState(['answer']),
    ...mapGetters(['getErrors'])
  },
  methods: {
    ...mapMutations(['updateAnswerField'])
  }
};
</script>