<template>
  <div>
    <label>NOTES</label>
    <vue-instant suggestion-attribute="title"
                 v-model="value"
                 :disabled="false"
                 :show-autocomplete="true"
                 :autofocus="false"
                 :suggestions="notes"
                 placeholder="Search for a note or add a new one"
                 type="twitter"></vue-instant>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
export default {
  created() {
    this.getNotes();
  },
  computed: {
    ...mapState(["notes", "answer"]),
    value: {
      get() {
        return this.answer["notes"] || '';
      },
      set(value) {
        this.updateAnswerField({
          field: "notes",
          value
        });
      }
    }
  },
  methods: {
    ...mapActions(["getNotes"]),
    ...mapMutations(["updateAnswerField"])
  }
};
</script>

<style>
form.searchbox {
  width: 100%;
}

input.sbx-twitter__input,
input.sbx-twitter__input-placeholder {
  border-radius: 5px;
}
</style>
