<template>
  <input-tag :value="answer['answer_groups']"
             field="answer_groups"
             :options="answerGroups"
             title="GROUPS"
             placeholder="Search or add a tag"
             @remove-tag="spliceFromParam({target:'answer',field:'answer_groups',value:$event})"
             @add-tag="updateAnswerField({field:'answer_groups',value:$event})"
             @search-change="onSearch"
             :loading="loading"></input-tag>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapState(["answer", "answerGroups"])
  },
  methods: {
    ...mapMutations(["spliceFromParam", "updateAnswerField"]),
    ...mapActions(["getAnswerGroups"]),
    onSearch() {
      this.loading = true;
      this.getAnswerGroups().then(() => (this.loading = false));
    }
  }
};
</script>