<template>
  <div class="form-group">
    <input-checkbox :value="!!answer['vas_dont_show_no']" 
                    title="VAS don't show No" 
                    @checked="updateAnswerField({field:'vas_dont_show_no',value: $event})"></input-checkbox>
    <input-checkbox :value="!!answer['vas_dont_show_unknown']"
                    title="VAS don't show Unknown"
                    @checked="updateAnswerField({field:'vas_dont_show_unknown',value: $event})"></input-checkbox>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  computed: {
    ...mapState(["answer"])
  },
  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>
