<template>
    <input-tag :value="answer['display_groups']" :options="displayGroups" :title="answer['display_groups'].length > 0 ? 'TITLE ' : 'DISPLAY GROUPS'" placeholder="Search or add a tag" @remove-tag="spliceFromParam({target:'answer',field:'display_groups',value:$event})" @add-tag="beforeUpdateAnswerField($event)" @search-change="onSearch($event)" :loading="loading"></input-tag>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  props: [''],
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapState(['answer', 'displayGroups', 'editing'])
  },
  methods: {
    beforeUpdateAnswerField(value) {
      //   this.updateAnswerField({ field: `tag`, value: `<G>${value}` });
      this.updateAnswerField({ field: 'display_groups', value });
    },
    ...mapMutations(['spliceFromParam', 'updateAnswerField']),
    ...mapActions(['getDisplayGroups']),
    onSearch($event) {
      if ($event) this.$emit('title', $event);
      this.loading = true;
      this.getDisplayGroups(this.editing.parent).then(
        () => (this.loading = false)
      );
    }
  }
};
</script>