<template>
    <input-text :value="answer['title']" :title="answer['display_groups'].length > 0 ? 'CHARACTERISTICS ' : 'TITLE'" name="title" @input="updateAnswerField({field: 'title',value: $event.target.value})" :validation-errors="getErrors({target: 'answer',field:'title'})"></input-text>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapState(['answer']),
    ...mapGetters(['getErrors'])
  },
  methods: {
    ...mapMutations(['updateAnswerField'])
  }
};
</script>
