<template>
    <input-text :value="answer['vas_no_label']" title="VAS NO LABEL" name="vas_no_label" placeholder="Label for _no" @input="updateAnswerField({field:'vas_no_label',value:$event.target.value})" :validation-errors="getErrors({target: 'answer',field:'vas_no_label'})"></input-text>
</template>

<script>
//  :disabled="answer['vas_dont_show_no']"
import { mapState, mapMutations, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapState(['answer']),
    ...mapGetters(['getErrors'])
  },
  methods: {
    ...mapMutations(['updateAnswerField'])
  }
};
</script>