<template>
  <input-checkbox :value="!!answer['end_test']" title="END TEST ON THIS ANSWER" @checked="updateAnswerField({field:'end_test',value: $event})"></input-checkbox>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  computed: {
    ...mapState(["answer"])
  },
  mounted() {
    // console.log(this.answer["end_test"]);
  },
  methods: {
    ...mapMutations(["updateAnswerField"])
  }
};
</script>
