<template>
    <input-formula :value="answer['auto_keys'] || ''" title="AUTO KEYS" :options="keys" placeholder="Auto keys condition for triggering this answer in automatic question. Use @ to select keys." @keyup="updateAnswerField({field:'auto_keys',value:$event.target.value})"></input-formula>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
export default {
  created() {
    // this.getKeys();
  },
  computed: {
    ...mapState(['answer', 'keys'])
  },
  methods: {
    ...mapMutations(['updateAnswerField']),
    ...mapActions(['getKeys'])
  }
};
</script>