<template>

  <input-checkbox :value="value" :title="title | capitalize" :name="title" @checked="updateParam({id: param.id ,field: param.title ,value: $event}) ">
  </input-checkbox>

</template>

<script>
import { mapMutations, mapState, mapGetters } from "vuex";

export default {
  created() {
    console.log("this.answer.validation.notRequired");
    //console.log(this.answer);
  },
  computed: {
    ...mapState(["answer", "params"]),
    ...mapGetters(["getErrors"]),
    param() {
      return this.params.find(a => a.title == "demographic");
    },
    title() {
      try {
        return this.param.title || "loading...";
      } catch (error) {
        return "loading..";
      }
    },
    value() {
      try {
        return this.param.value || false;
      } catch (error) {
        return false;
      }
      //   return this.answer.validation &&
      //     this.answer.validation.hasOwnProperty("notRequired")
      //     ? this.answer.validation.notRequired
      //     : false;
    }
  },
  watch: {
    params(nv, ol) {
      console.log({ TITLE: nv });
    }
  },

  methods: {
    ...mapMutations(["updateAnswerField", "updateParam"])
  }
};
</script>
