<template>
  <div style="float:left">
    <modal v-model="d_open" :title="title" size="lg">
      modalType {{modalType}}
      <form action="/action_page.php">
        <div class="form-group">
          <label for="email">Procedure ID:</label>
          <input type="email" class="form-control" id="email" v-model="form.proc_id" disabled="true">
        </div>
        <div class="form-group">
          <label for="pwd">Question ID:</label>
          <input class="form-control" id="pwd" v-model="form.question_id" disabled="true">
        </div>
        <div class="form-group">
          <label for="pwd">Name:</label>
          <input class="form-control" id="pwd" v-model="form.name" disabled="true">
        </div>
        <div class="form-group">
          <label for="pwd">Probability:</label>
          <input type="number" class=" form-control" v-model="form.probability">
        </div>
        <div class="form-group">
          <label for="pwd">Priority:</label>
          <input type="number" class="form-control" id="pwd" min="0" v-model="form.priority">
        </div>
        <template v-if="answersValidationErrors.length">
          <div style="color:red" v-for="(err, errKey) in answersValidationErrors" :key="errKey"><b class="error">

              <span v-if="!Array.isArray(err)">{{err}}</span>
              <div v-else v-for="(e, ek) in err" :key="ek">
                {{e[0]}}
              </div>

            </b></div>
        </template>
      </form>
      <div slot="footer">
        <btn @click="d_open=false">Cancel</btn>
        <btn type="primary" style="color:white" @click="onSubmit">
          Submit
        </btn>
      </div>
    </modal>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import { Modal, Btn } from "uiv";
import GlobalScore from "./GlobalScore.vue";
export default {
  name: "MultiAnswersModal",
  data() {
    return {
      form: {
        proc_id: "",
        question_id: "",
        name: "",
        priority: "",
        probability: ""
      },

      d_edit: false,
      d_open: false
    };
  },
  created() {
    this.form = {
      proc_id: this.questions[0].proc_id,
      question_id: this.answer.question_id,
      name: this.answer.display_groups[0]
    };
  },

  watch: {
    edit(o) {
      this.d_edit = o;
      this.globalScoreSwitch = o;
      //   console.log(this.answer.display_groups[0]);
      //   console.log(
      //     this.answers[this.answer.display_groups[0]].map(a => a.title)
      //   );
    },
    open(o) {
      this.d_open = o;
      console.log({ o });
      if (o) this.setModalType("display-groups");
      //   console.log(this.answer.display_groups[0]);
      //   console.log(
      //     this.answers[this.answer.display_groups[0]].map(a => a.title)
      //   );
    },
    d_open(o) {
      this.clearValidationErrors();
      let name = this.form.name;
      let dg = this.displayGroups.find(a => a.name == name);
      if (dg) {
        this.form.priority = dg.priority;
        this.form.probability = dg.probability;
      }
      console.log(dg);
      if (!o) this.$emit("close");
    }
  },
  computed: {
    ...mapState([
      "modalType",
      "displayGroups",
      "ColorOfAnswerRow",
      "editing",
      "questions",
      "answersValidationErrors"
    ]),
    ...mapGetters(["questionOfSplitAnswer", "unCapitalize"])
  },
  methods: {
    async onSubmit() {
      this.clearValidationErrors();
      if (await this.updateOrCreateGroup(this.form)) return this.$emit("close");
    },
    ...mapMutations(["clearValidationErrors", "setModalType"]),
    ...mapActions([
      "setGlobalScoreAction",
      "setEditGlobalScoreAction",

      "updateOrCreateGroup",
      "splitAnswer"
    ])
  },

  components: {
    Btn,
    GlobalScore,
    Modal
  },

  props: [
    "open",
    "answer",
    "answers",
    "edit",
    "title"
    // "new_characteristics"
  ]
};
</script>

<style scoped>
label {
  float: left;
}
</style>
