<template>
  <div v-if="globalScoreSwitch">
    <div class="container">

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">Value</th>
            <th class="text-center">Active</th>
            <th class="text-center">Score Value </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(type,model,index) in globalScore.types" :key="index">
            <td> {{type.name}}</td>
            <td> <label class="switch">
                <input type="checkbox" v-model="globalScore.types[model].switch" class="shadowed">
                <span class="slider round"></span>
              </label></td>
            <td style="width:40%">

              <input v-if="type.switch" type="text" class="form-control" v-model="globalScore.types[model].value" :placeholder="type.name">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div style="text-align:left;margin-top:10px" v-for="(type,model,index) in globalScore.types" :key="index">
      <form class="form-inline">
        <label class="checkbox-inline"></label>{{type.name}}
        <label class="switch">
          <input type="checkbox" v-model="globalScore.types[model].switch" class="shadowed">
          <span class="slider round"></span>
        </label>
        <div class="form-group" v-if="type.switch">
          <div class="col-sm-3 col-md-3">
            <input type="text" class="form-control" v-model="globalScore.types[model].value" :placeholder="type.name">
          </div>
        </div>
      </form>
    </div> -->
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "GlobalScore",
  props: ["globalScoreSwitch"],
  data() {
    return {
      globalScore: {
        value: false,
        types: [
          { name: "_no", value: "", switch: false },
          { name: "_unknown", value: "", switch: false },
          { name: "_less", value: "", switch: false },
          { name: "_more", value: "", switch: false }
        ]
      }
    };
  },
  watch: {
    globalScore: {
      handler(val) {
        this.setGlobalScoreTypes(this.globalScore.types);
      },
      deep: true
    }
  },
  methods: {
    ...mapMutations(["setGlobalScoreTypes"])
  }
};
</script>

<style>
</style>
