<template>
  <div>
    <modal v-model="d_open" :title="title" size="lg">
      <el-switch v-model="singleSubAnswer" active-text="Single sub-answers" inactive-text=" ">
      </el-switch>
      {{singleSubAnswer}}
      <hr>
      <form class="form-inline">
        <div class="form-group">
          <div class="checkbox" v-if="!d_edit">
            <label v-for="(characteristicsName , i) in characteristicsNames " class="checkbox-inline" :key="i">
              <input type="checkbox" v-model="newChars" :value="characteristicsName"> {{characteristicsName}}
            </label>
          </div>
        </div>
        <div class="form-group" v-if="!d_edit">
          <div class="col-sm-4">
            <input type="text" class="form-control" v-model="other" placeholder="other...">
          </div>
        </div>
        <button v-if="!d_edit" class="btn btn-default" @click.prevent="newChars.push(other), other=''">add +
        </button>
      </form>
      <GlobalScore :globalScoreSwitch="globalScoreSwitch" />
      <div style="margin-top:20px">
        <span class="characteristic" v-for="(characteristic ,index) in chars" :key="index">
          {{characteristic}}
          <i class="fas fa-times" style="cursor: pointer" @click="newChars.splice(index, 1)"></i>
        </span>
      </div>
      <div slot="footer" v-if="!d_edit">
        <div class="pull-left">
          Global Score
          <label class="switch">
            <input type="checkbox" class="shadowed" v-model="globalScoreSwitch">
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div slot="footer">
        <btn @click="d_open=false">Cancel</btn>
        <btn type="primary" style="color:white" @click="onSubmit">
          Submit
        </btn>
      </div>
    </modal>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import { Modal, Btn } from "uiv";
import GlobalScore from "./GlobalScore.vue";
export default {
  name: "MultiAnswersModal",
  data() {
    return {
      singleSubAnswer: null,
      other: "",
      newChars: [],
      globalScoreSwitch: false,
      d_edit: false,
      characteristicsNames: [
        "Severity",
        "Duration",
        "Frequency",
        "Compliance",
        "Efficacy",
        "Persistence"
      ],
      d_open: false
    };
  },
  mounted() {
    //  this.globalScoreSwitch = this.d_edit ? true : false;
    // console.log({ ANSWER: this.answer.display_groups[0] });
    // console.log({ answers: Object.values(this.answers).map(a => a[0].title) });
    // console.log({globalScoreSwitch: this.globalScoreSwitch});
  },
  watch: {
    edit(o) {
      this.d_edit = o;
      this.globalScoreSwitch = o;
      //   console.log(this.answer.display_groups[0]);
      //   console.log(
      //     this.answers[this.answer.display_groups[0]].map(a => a.title)
      //   );
    },
    open(o) {
      this.d_open = o;
      //   console.log(this.answer.display_groups[0]);
      //   console.log(
      //     this.answers[this.answer.display_groups[0]].map(a => a.title)
      //   );
    },
    d_open(o) {
      if (!o) this.$emit("close");
    }
  },
  computed: {
    characteristics() {
      try {
        return this.answers[this.answer.display_groups[0]].map(a => a.title);
      } catch (e) {
        return [];
      }
    },
    chars() {
      return this.edit ? this.characteristics : this.newChars;
    },
    createdKeys() {
      try {
        return this.answers[this.answer.display_groups[0]].map(a => a.tag[0]);
      } catch (e) {
        return [];
      }
    },
    comp_indication() {
      return this.questionOfSplitAnswer(this.answer.question_id).indication[0];
    },
    ...mapGetters(["questionOfSplitAnswer", "unCapitalize"])
  },
  methods: {
    onSubmit() {
      if (this.edit) {
        console.log("editGlobalScore");
        this.editGlobalScore();
      } else {
        this.onSplit();
        console.log("ONSPLIT");
      }
    },
    ...mapActions([
      "setGlobalScoreAction",
      "setEditGlobalScoreAction",
      "splitAnswer"
    ]),
    async onSplit() {
      this.setGlobalScoreAction({
        comp_indication: this.comp_indication,
        characteristics: this.characteristics,
        answer_tag: this.answer.tag,
        question_id: this.answer.question_id
      }).then(response => {
        this.$toasted.show("Automatic Global Question Created", {
          theme: "outline",
          position: "top-center",
          duration: 3000
        });
      });
      this.d_open = false;
      this.splitAnswer({
        isSingleSubAnswer: this.singleSubAnswer,
        id: this.answer.id,
        characteristics: this.newChars
      })
        .then(response => {
          this.newChars = [];
          this.$toasted.success("Answer was split!", {
            theme: "outline",
            position: "top-right",
            duration: 2000
          });
        })
        .catch(error => console.log(error));
    },
    editGlobalScore() {
      //  return alert(this.edit);
      this.d_open = false;
      this.setGlobalScoreAction({
        comp_indication: this.comp_indication,
        characteristics: this.characteristics,
        createdKeys: this.createdKeys,
        answer_tag: this.answer.tag,
        question_id: this.answer.question_id
      }).then(async response => {
        await this.$toasted.show("Automatic Global Question Created", {
          theme: "outline",
          position: "top-center",
          duration: 3000
        });
        setTimeout(() => {
          location.reload();
        }, 3000);
      });
    }
  },

  components: {
    Btn,
    GlobalScore,
    Modal
  },

  props: [
    "open",
    "answer",
    "answers",
    "edit",
    "title"
    // "new_characteristics"
  ]
};
</script>

<style>
</style>
