<template>
  <div style="color:red">
    <div v-for="(keys, index) in answerErrors" :key="index">
      <div v-for="(err , i ) in keys" :key="i">
        {{err}}
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  computed: {
    ...mapState(["answer"]),
    answerErrors() {
      return { ...this.answer.errors };
    },
    answerErrorsKeys() {
      try {
        return Object.keys(this.answerErrors);
      } catch (error) {}
    }
  }
  //methods: mapMutations(["clearAllErrors"])
};
</script>

<style>
</style>
