<template>

  <div class="form-group" v-if="displayGroups.length>0 ">
    <input-checkbox :value="paramValue" :title="title(param.title).replace('global','title')" @checked="updateParam({id: param.id ,field: param.title ,value: $event})"></input-checkbox>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
export default {
  name: "AnswerGlobalNoUnknown",
  props: ["param", "displayGroups"],
  mounted() {
    // console.log('title');
    // alert(this.vas_dont_show_global_no);
  },
  computed: {
    ...mapState(["answer", "params"]),
    paramValue() {
      return this.param.value > 0 ? true : false;
    }
  },
  methods: {
    ...mapMutations(["updateAnswerField", "updateParam"]),
    title(t) {
      return t.replace(/_/g, " ");
    }
  }
};
</script>
