//     <div :class="{'tag-wrapper': true, 'form-group': true, 'has-error': error, 'has-success': success }">
//         <label>{{ {{ param.title.toUpperCase() | noUnderScore }} }}</label>
//         <at-ta ref="at" :members="keys" :hover-select="false" :filterMatch="filterMatch">
//             <textarea ref="input" spellcheck="true" class="editor form-control" v-text="value" @keyup="update" @click="validate($event.target.value)"></textarea>
//         </at-ta>
//         <span class="help-block" v-if="message" v-text="message"></span>
//     </div>

<template>
  <input-formula :value="value || ' '" :title="param.title.toUpperCase() | noUnderScore " :options="keys" placeholder="Condition or formula. use @ to select keys, or leave empty" @keyup="update"></input-formula>
</template>

<script>
import AtTa from "vue-at/dist/vue-at-textarea";
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";
// import axios from "axios";

export default {
  name: "input-formula-params",
  components: { AtTa },
  props: ["param"],
  data() {
    return {
      error: false,
      success: false,
      message: "",
      blurTimer: null,
      hideOnBlur: true,
      validateTimer: null
      // keys: []
    };
  },
  async created() {
    this.getKeys();
  },
  mounted() {
    console.log(this.$refs.at);
    setTimeout(() => {
      // this.$refs.at.closePanel();
    }, 1000);
  },
  computed: {
    ...mapState(["question", "answer", "keys"]),
    ...mapGetters(["paramValue"]),
    value() {
      //  console.log(this.paramValue('this.param.id'));
      //  console.log(this.paramValue(this.param.id));
      return this.paramValue(this.param.id);
    }
  },
  methods: {
    ...mapMutations(["updateParam"]),
    ...mapActions(["getKeys"]),
    filterMatch(name, chunk) {
      return name.toLowerCase().indexOf(chunk.toLowerCase()) === 0;
    },

    update(event) {
      let value = event.target.value.trim();
      // this.validate(value);
      let payload = {
        id: this.param.id,
        value
      };
      this.updateParam(payload);
    },

    handleClick() {
      this.$refs.input.click();
    },

    handleBlur() {
      if (this.hideOnBlur) {
        this.blurTimer = setTimeout(() => {
          // this.$refs.at.closePanel();
        }, 1500);
      }
    },

    handleFocus() {
      if (this.hideOnBlur) {
        clearTimeout(this.blurTimer);
      }
    },

    validate(condition) {
      condition = encodeURIComponent(condition);
      //let url = `http://dev.medecide.net/index.php/?page=ajax&item_id=validate_condition&token=${user_token}&proc_id=${proc_id}&condition=${condition}`;
      let url =
        extension == "dev"
          ? "https://medecide-api.dev"
          : //: 'https://core.medecide.net/public';
            "https://core.serenusai.com/public";
      if (location.hostname.includes("localhost"))
        // url = "http://medecide-api.localhost";
        url = "http://localhost/medecide-api/public";
      axios
        .get(url)
        .then(response => {
          if (condition.length > 0) {
            console.log(response);
            if (String(response.data).includes("false")) {
              this.success = false;
              this.error = true;
              this.message = response.data;
            } else {
              this.error = false;
              this.success = true;
              this.message = "Formula is valid";
            }
          } else {
            this.error = false;
            this.success = false;
            this.message = "";
          }
        })
        .catch(error => {
          console.log(error);
          this.error = true;
          this.message = error.data;
        });
    }
  }
};
</script>