<template>
  <div :class="{'form-group':true}">
    <label>{{ param.title.replace('plural','').toUpperCase() | noUnderScore }}</label>
    <input type="text" :disabled="isAnswerGroupFIeld" name="text" class="form-control" placeholder="Enter Value here..." v-model="value">
  </div>
</template>
<script>
import { mapMutations, mapGetters, mapActions, mapState } from "vuex";
export default {
  name: "input-text-params",
  props: ["param"],
  computed: {
    isAnswerGroupFIeld() {
      return this.param.title == "answer_groups_probability";
    },
    ...mapGetters(["compareGlobalLabel", "getDisplayGroup", "questionAnswers"]),
    ...mapState(["answer"]),

    value: {
      get() {
        return this.$store.getters.paramValue(this.param.id);
      },
      set(value) {
        this.updateParam({
          value,
          id: this.param.id
        });
      }
    }
  },
  methods: {
    ...mapMutations(["updateParam"]),
    ...mapActions([
      "compareLabelforDisplayGroup",
      "updateAnswersDisplayGroupsMultiLabels"
    ])
  }
};
</script>