<template>

  <div class="form-group" style="border:1px solid black">
    <label class="typo__label">TEACH PROBABILITY</label>
    <br>
    <!-- value {{value}}
    <br>
    radio1 {{radio1}}
    <br>
    Options {{options}}
    <br>
    
    <!-- probKeys {{probKeys}} -->
    <!-- toUpdate {{toUpdate}}  -->
    <el-switch v-model="radio1" active-text="INPUT" inactive-text="KEYS">
    </el-switch>
    <br>
    <!-- <el-button type="success" v-if="!radio1"   @click="update" icon="el-icon-check" circle></el-button> -->
    <br>
    <el-input v-if="radio1" @input="onUpdate(toUpdate = input2)" placeholder="Type something" prefix-icon="el-icon-edit" v-model="input2">
    </el-input>
    <div v-else style="width:100% !important">
      <el-select v-model="probKeys" size="small" multiple placeholder="Select" @handleOptionClick="handleOptionClick" @remove-tag="removeTag">
        <el-option v-for="(i,item ) in options" :label="_.camelCase(item) | capitalize" :key="`_`+item" :value="item">
        </el-option>
      </el-select>

      <br>
      <div v-for="(val, ind) in probKeys" :key="ind">
        <!-- <input-checkbox :value="paramValue" :title="title(param.title).replace('global','title')" @checked="updateParam({id: param.id ,field: param.title ,value: $event})"></input-checkbox> -->
        <el-input placeholder="Please input" v-model="options[val]" @focus="onUpdate( JSON.stringify(deleteEmpty(options)))" @input="onUpdate( JSON.stringify(deleteEmpty(options)))">
          <template slot="prepend">{{_.camelCase(val) | capitalize}}</template>
        </el-input>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
export default {
  name: "TeachProbability",
  props: ["param", "displayGroups"],
  created() {
    //   alert("Created");
    this.onCreated = true;
  },
  mounted() {
    console.log({ THISPARAMS: this.param });
    console.log({ VALUE: _.isObjectLike(this.value) });
    if (!_.isObjectLike(this.value)) {
      //alert(! _.isObjectLike(this.value) )
      this.radio1 = true;
      this.input2 = this.value;
    } else {
      // this.probKeys = Object.keys(this.value);
      this.radio1 = false;
      for (let k in this.value) {
        if (this.value[k]) {
          this.options[k] = this.value[k];
          this.probKeys.push(k);
        }
      }
      //   this.probKeys = Object.keys(this.value);
      this.toUpdate = this.value;
      console.log({ thisValue: this.value });
    }
  },
  beforeDestroy() {
    this.onCreated = false;
    this.input2 = this.radio1 = this.toUpdate = "";
    this.probKeys = [];
    //     alert('beforeDestroy'+ this.input2)
    //   console.log('beforeDestroy'+ this.input2)
  },
  data() {
    return {
      radio1: "",
      probKeys: "",
      options: {
        yes: "",
        _no: "",
        _unknown: "",
        _more: "",
        _less: "",
        logNormal: ""
      },
      input2: "",
      toUpdate: "",

      onCreated: true
    };
  },
  watch: {
    value(ov, nv) {},
    probKeys(nv, ov) {
      //   console.log("probKeys!");
      //   console.log(nv);
    }
  },

  computed: {
    value() {
      let teachProbability = this.getParam(
        this.answer.params,
        "teach_probability"
      );
      try {
        //Object
        // return JSON.parse(this.paramValue(15));
        return JSON.parse(teachProbability);
      } catch (error) {
        //Input Only
        // return this.paramValue(15);
        return teachProbability;
      }
    },
    ...mapState(["answer", "params"]),
    ...mapGetters(["getParam", "paramValue"])

    // paramValue() {
    //   return this.param.value > 0 ? true : false;
    // }
  },
  methods: {
    removeTag(key) {
      // delete this.toUpdate[key];
      this.options[key] = "";
      console.log({ VALUE: this.options });
      this.onUpdate(JSON.stringify(this.options));
      //   console.log("remove tag", { key });
      //   console.log("toUpdate ", Object.keys(this.toUpdate));
      //   console.log("toUpdateKEY: ", this.toUpdate[key]);
    },
    handleOptionClick(a) {
      console.log({ a });
      console.log("toUpdate ", Object.keys(this.toUpdate));
      console.log("toUpdateKEY: ", this.toUpdate[a.value]);
      console.log(a.value);
      if (a.itemSelected) {
        console.log({ a_itemSelected: a.itemSelected });
        this.removeTag(a.value);
        //delete this.options[a.value];
      }
    },

    deleteEmpty(options) {
      let obj = {};
      for (let key in options) {
        if (options[key] == "") delete this.value[key]; //   obj[key] = options[key];
      }
      return options;
    },
    ...mapMutations(["updateAnswerField", "updateParam"]),
    onUpdate(val) {
      this.toUpdate = val;
      return this.update();
    },

    update() {
      //   this.toUpdate = { ...this.options };
      //event
      //let value = event.target.value.trim();

      let payload = {
        id: this.param.id,
        value: this.toUpdate
      };
      console.log({ payload });
      this.updateParam(payload);
    },
    title(t) {
      return t.replace(/_/g, " ");
    }
  }
};
</script>
<style scoped>
.el-input__inner {
  width: 100vh;
  height: 100vh !important;
}
.prepend {
  min-width: 30vh;
}
*/ .input-with-select .el-input-group__prepend {
  background-color: #fff;
}
.el-select__tags {
  width: 200px !important;
}
</style>