<template>
  <div class="container">
    <!-- <NewEditAnswer /> -->
    <!-- <NewEditAnswerNew /> -->
    <procedure-header :proc-id="procId" :proc-title="procTitle" :api-token="apiToken"></procedure-header>
    <procedure-validate></procedure-validate>
    <procedure-scores></procedure-scores>
    <procedure-questions></procedure-questions>
    <procedure-combine-questions></procedure-combine-questions>
    <ProcedureImportQuestion />
    <portal-target name="modals"></portal-target>
  </div>
</template>

<script>
import ProcedureScores from "./components/procedure/ProcedureScores";
import NewEditAnswer from "./components/procedure/NewEditAnswer";
import NewEditAnswerNew from "./components/procedure/NewEditAnswerNew";
import ProcedureHeader from "./components/procedure/ProcedureHeader";
import ProcedureValidate from "./components/procedure/ProcedureValidate";
import ProcedureQuestions from "./components/procedure/ProcedureQuestions";
import ProcedureCombineQuestions from "./components/procedure/ProcedureCombineQuestions";
import ProcedureImportQuestion from "./components/procedure/ProcedureImportQuestion";

export default {
  created() {
    this.$store.dispatch("displayGroups");
    let hartfordProcedures = [144, 145, 146];
    hartfordProcedures.forEach(element => {
      if (window.location.href.endsWith(element))
        alert("Warning! This procedure is in production, DO NOT TOUCH IT!!");
    });
  },
  props: ["procId", "procTitle", "apiToken"],
  name: "app",

  components: {
    NewEditAnswerNew,
    NewEditAnswer,
    ProcedureHeader,
    ProcedureScores,
    ProcedureQuestions,
    ProcedureValidate,
    ProcedureCombineQuestions,
    ProcedureImportQuestion
  }
};
</script>

<style>
body {
  overflow-y: auto;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
</style>
