<template>
  <div>
    <div style="margin-bottom: 20px;">
      <!-- <el-button size="small" @click="addTab(editableTabsValue)">
        add tab
      </el-button> -->
      <el-row>
        <el-radio-group v-model="tabPosition"  @change="onChange" style="margin-bottom: 30px; ">
          <el-radio-button label="Question">Question</el-radio-button>
          <el-radio-button label="Answer">Answer</el-radio-button>
          <el-radio-button label="Teach">Teach</el-radio-button>
          <!-- <el-radio-button label="left">left</el-radio-button> -->
        </el-radio-group>
      </el-row>
      <el-button size="small" @click="onChange(tabPosition)">
        Reset tabs
      </el-button>
    </div>
    <el-tabs v-model="editableTabsValue" type="card" closable @tab-remove="removeTab">
      <el-tab-pane v-for="(item, index) in editable" :key="item.name" :label="item.title | capitalize" :name="item.name">
        {{item.content | capitalize }}
        <div class="form-group">
          <!-- <input-checkbox :value="!!question['is_auto']" title="AUTOMATIC QUESTION" @checked="updateQuestionField({field:'is_auto',value:$event})"></input-checkbox> -->
          <div class="col-md-12" style="padding:0">
            <div class="col-md-6" style="padding-left: 0;">
              <input-select :value="question['question_type'] || ''" title="QUESTION TYPE" :options="['Main Surgery Factor','Critical Exam','General Health']" @selected="updateQuestionField({field:'question_type',value:$event})">
              </input-select>
            </div>
            <div class="col-md-6" style="padding-right: 0;">
              <input-select :value="question['answers_type'] || ''" title="ANSWERS TYPE" :options="['Single Answer','Multiple Answers','Slider','VAS','Automatic Question','Numeric Answer']" @selected="updateQuestionField({field:'answers_type',value:$event})">
              </input-select>
            </div>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      tabPosition: "Answer",
      editableTabsValue: "2",
      editable: [],
      editableTabs: [
        {
          title: "Tab 1",
          name: "1",
          content: "Tab 1 content"
        },
        {
          title: "Tab 2",
          name: "2",
          content: "Tab 2 content"
        }
      ],
      tabIndex: 2
    };
  },
  async created() {
    this.editable = await this.questionEdit;
  },
  computed: {
    ...mapState(["newEdit", "question"]),
    ...mapGetters(["questionEdit",'answerEdit'])
  },
  methods: {
      onChange(a ){
         this.editable = a =="Question" ? this.questionEdit : a == "Answer" ?  this.answerEdit : [];
      },
    addTab(targetName) {
      let newTabName = ++this.tabIndex + "";
      this.editableTabs.push({
        title: "New Tab",
        name: newTabName,
        content: "New Tab content"
      });
      this.editableTabsValue = newTabName;
    },
    removeTab(targetName) {
      let tabs = this.editable;
      let activeName = this.editableTabsValue;
      if (activeName === targetName) {
        tabs.forEach((tab, index) => {
          if (tab.name === targetName) {
            let nextTab = tabs[index + 1] || tabs[index - 1];
            if (nextTab) {
              activeName = nextTab.name;
            }
          }
        });
      }

      this.editableTabsValue = activeName;
      this.editable = tabs.filter(tab => tab.name !== targetName);
    }
  }
};
</script>