<template>
  <transition name="el-zoom-in-top">

    <div id="staggered-list-demo" v-if="newEdit">
      <input v-model="query">
      <transition-group name="staggered-fade" tag="ul" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave">
        <li v-for="(item, index) in computedList" v-bind:key="item.msg" v-bind:data-index="index" style="display:inline-block;padding:10px;border:1px solid blue;">{{ item.msg }}</li>
      </transition-group>
      <el-radio-group v-model="tabPosition" style="margin-bottom: 30px; ">
        <el-radio-button label="Question">Question</el-radio-button>
        <el-radio-button label="Answer">Answer</el-radio-button>
        <el-radio-button label="Teach">Teach</el-radio-button>
        <!-- <el-radio-button label="left">left</el-radio-button> -->
      </el-radio-group>

      <el-tabs @tab-click="handleClick" :tab-position="'center'" style="height:200px;background:white;margin:25px;">
        <el-tab-pane label="Title">Title {{tabPosition}} </el-tab-pane>
        <el-tab-pane label="Title For Patient"> Title For Patient {{tabPosition}} </el-tab-pane>
        <el-tab-pane label="Priority">Priority {{tabPosition}} </el-tab-pane>
        <el-tab-pane label="Required Key">Required Key {{tabPosition}} </el-tab-pane>
        <el-tab-pane v-for="(a, i)  in question" :key="i" :label="i">{{a}} </el-tab-pane>
      </el-tabs>
      {{question}}
    </div>
  </transition>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      query: "",
      tabPosition: "Answer",
      //   activeName: "Title",
      list: [
        { msg: "Vas Min Display" },
        { msg: "Vas Max Display" },
        { msg: "Vas Score" },
        { msg: "Vas InterMediate" },
        { msg: "Kung Fury" }
      ]
    };
  },
  computed: {
    ...mapState(["newEdit", "question"]),
    computedList: function() {
      var vm = this;
      return this.list.filter(function(item) {
        return item.msg.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1;
      });
    }
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
      console.log(tab.label);
    },
    beforeEnter: function(el) {
      el.style.opacity = 0;
      //   el.style.height = "1.6em";
      el.style.width = 0;
      // el.style.padding = "10px";
    },
    enter: function(el, done) {
      var delay = el.dataset.index * 100;
      setTimeout(function() {
        Velocity(
          el,
          {
            opacity: 1,
            width: "140px",
            padding: "10px"
            //   height: "1.6em"
          },
          { complete: done }
        );
      }, delay);
    },
    leave: function(el, done) {
      var delay = el.dataset.index * 100;
      setTimeout(function() {
        Velocity(
          el,
          {
            opacity: 0,
            //   height: 0,
            width: 0,
            padding: 0
          },
          { complete: done }
        );
      }, delay);
    }
  }
};
</script>

<style>
#staggered-list-demo {
  left: 0;
  position: fixed;
  z-index: 100000;
  background-color: rgba(205, 247, 241, 0.596);
  width: 100%;
}
</style>
