<template>
  <modal @hide="handleHide" form class="form-inline" v-model="open" ok-text="Submit" title="Choose question to Import">
    <form>
      <div class="form-group">
        <label for="exampleInputName2">Question ID</label>
        <input type="text" class="form-control" v-model="question_id" id="exampleInputName2">
      </div>
    </form>
  </modal>
</template>

<script>
import { Modal } from "uiv";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  components: {
    Modal
  },
  data() {
    return { question_id: "" };
  },
  computed: {
    ...mapState(["combinations", "questions", "importQuestionShow"]),
    open: {
      get() {
        return this.importQuestionShow;
      },
      set() {
        this.toggleImportQuestion();
      }
    },
    firstAnswers: {
      get() {
        return this.combinations.firstAnswers;
      },
      set(value) {
        this.setCombinationAnswers({ target: "firstAnswers", value });
      }
    },
    secondAnswers: {
      get() {
        return this.combinations.secondAnswers;
      },
      set(value) {
        this.setCombinationAnswers({ target: "secondAnswers", value });
      }
    },
    firstQuestion: {
      get() {
        return this.combinations.firstQuestion
          ? this.combinations.firstQuestion.id
          : this.combinations.firstQuestion;
      },
      set(value) {
        this.setCombinationQuestion({ value, target: "firstQuestion" });
      }
    },
    secondQuestion: {
      get() {
        return this.combinations.secondQuestion
          ? this.combinations.secondQuestion.id
          : this.combinations.secondQuestion;
      },
      set(value) {
        this.setCombinationQuestion({ value, target: "secondQuestion" });
      }
    },
    firstAnswersAll: {
      get() {
        return this.combinations.firstAnswersAll;
      },
      set(value) {
        this.selectAllCombinationAnswers("firstAnswers");
      }
    },
    secondAnswersAll: {
      get() {
        return this.combinations.secondAnswersAll;
      },
      set(value) {
        this.selectAllCombinationAnswers("secondAnswers");
      }
    }
  },
  methods: {
    ...mapMutations([
      "toggleImportQuestion",
      "toggleCombineQuestions",
      "setCombinationQuestion",
      "resetCombinations",
      "setCombinationAnswers",
      "selectAllCombinationAnswers"
    ]),
    ...mapActions(["combineQuestions", "getQuestions", "duplicateQuestion"]),

    handleHide(type) {
      if (type === "ok") {
        //    <!-- @click="duplicateQuestion({id :1000,imported: true})" -->
        this.duplicateQuestion({
          id: this.question_id,
          imported: true
          //   firstQuestion: this.firstQuestion,
          //   secondQuestion: this.secondQuestion,
          //   firstAnswers: this.firstAnswers,
          //   secondAnswers: this.secondAnswers
        })
          .then(() => {
            this.resetCombinations();
            this.getQuestions();
            this.$toasted.success("New question created!", {
              theme: "outline",
              position: "top-right",
              duration: 2000
            });
          })
          .catch(error => {
            console.error(error);
            this.$toasted.error("Something went wrong...", {
              theme: "outline",
              position: "top-right",
              duration: 2000
            });
          });
      } else {
        this.resetCombinations();
      }
    }
  }
};
</script>