<template>
  <div class="row">

    <div class="btn-group">
      <button class="btn btn-sm btn-default" @click="createQuestion">+ New Question</button>
      <button class="btn btn-sm btn-default" @click="toggleImportQuestion">Import Question</button>
      <!-- @click="duplicateQuestion({id :1000,imported: true})" -->
      <button class="btn btn-sm btn-default" @click="validateProcedure">Validate Questions</button>
      <button class="btn btn-sm btn-default" @click="toggleCombineQuestions">Combine Questions</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Switch Procedure
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu scrollable-menu">
        <li v-for="(procedure, index) in procedures" :key="index">

          <a :href="`/questions/${procedure.id}`">{{procedure.title}}</a>
        </li>
        <!-- <li role="separator" class="divider" v-if="index > 0 && procedures[index -1].cat_id !== procedure.cat_id"></li> -->
        <!-- </template> -->
      </ul>
    </div>
    <br>
    <br>
    <div class="row" style="margin-right:1px">
      <procedure-questions-filter :questions="questions"></procedure-questions-filter>

      <h4 style="margin-left:10px">
        <b>Procedure: </b> {{procTitle}} ({{procId}})
      </h4>
    </div>

  </div>

</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import ProcedureQuestionsFilter from "./ProcedureQuestionsFilter";

export default {
  components: { ProcedureQuestionsFilter },
  props: ["procId", "procTitle", "apiToken"],
  data() {
    return {
      procedures: []
    };
  },
  name: "procedure-header",
  methods: {
    ...mapActions([
      "createQuestion",
      "validateProcedure",
      "getProcedures",
      "duplicateQuestion"
    ]),
    ...mapMutations(["toggleCombineQuestions", "toggleImportQuestion"])
  },
  computed: {
    ...mapState(["questions"])
  },
  created() {
    this.getProcedures()
      .then(({ data: procedures }) => (this.procedures = procedures))
      .catch(error => console.error(error));
  }
};
</script>

<style scoped>
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
</style>