<template>
  <div class="row">
    <div class="panel panel-default" style="margin-bottom: 5px; width: 99.7% ;">
      <div class="panel-heading handHover " @click="procedureScoresDisplay=! procedureScoresDisplay ">
        <h3 class="panel-title ">Procedure Scores</h3>
      </div>
      <Collapse class="panel-body " v-model="procedureScoresDisplay ">
        <table class="table table-bordered text-center table-responsive table-striped ">
          <thead>
            <tr>
              <th class="text-center ">From</th>
              <th class="text-center ">To</th>
              <th class="text-center ">Title</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="procedure_score in procedureScores ">
              <td>{{procedure_score.score_from}}</td>
              <td>{{procedure_score.score_to}}</td>
              <td>{{procedure_score.title}}</td>
            </tr>
          </tbody>
        </table>
      </Collapse>
    </div>
  </div>
</template>

<script>
import { Collapse } from "uiv";

export default {
  components: {
    Collapse
  },

  mounted() {
    this.getProceduresScores();
  },

  data() {
    return {
      procedureScores: [
        {
          score_from: "",
          score_to: "",
          title: ""
        }
      ],
      procedureScoresDisplay: false
    };
  },
  methods: {
    getProceduresScores() {
      axios
        .get(`/api/questions/${proc_id}/scores`)
        .then(response => {
          this.procedureScores = response.data;
        })
        .catch(error => console.log(error));
    }
  }
};
</script>