<template>
    <div class="input-group col-md-3 pull-right" style="padding-right: 0; margin-right:5px;">
        <div class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <input type="text" @input="filterQuestions" placeholder="Filter through questions by ID or Title..." name="search" class="form-control">
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  methods: {
    ...mapActions(['filterQuestions'])
  }
};
</script>