<template>
    <div class="row">
        <div class="panel panel-default" v-if="showProcedureValidation">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 3px;">Questions Validation Results
                </h4>
                <button type="button" class="close panel-title pull-right" aria-label="Close" @click="onClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="panel-body" v-if="!validatingProcedure">
                <div v-if="questionsValidationErrors.length > 0 ">
                    <h4>Questions</h4>
                    <table class="text-center table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Title</th>
                                <th class="text-center">Key</th>
                                <th class="text-center">Error</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(question,index) in questionsValidationErrors" :key="index">
                                <td> {{ question.id }}</td>
                                <td> {{ question.title }}</td>
                                <td> {{ question.key }}</td>
                                <td> {{ question.error }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3 v-else>All questions have been successfully validated!</h3>
                <div v-if="answersValidationErrors.length > 0 ">
                    <h4>Answers</h4>
                    <table class=" text-center table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Title</th>
                                <th class="text-center">Key</th>
                                <th class="text-center">Key Type</th>
                                <th class="text-center">Error</th>
                                <th class="text-center">Question ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(answer, index) in answersValidationErrors" :key="index">
                                <td> {{ answer.id }}</td>
                                <td> {{ answer.title }}</td>
                                <td> {{ answer.key }}</td>
                                <td> {{ answer.keyType }}</td>
                                <td> {{ answer.error }}</td>
                                <td> {{ answer.questionId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3 v-else>All answers have been successfully validated!</h3>
            </div>
            <div class="panel-body" v-else>
                <spinner message="Loading..." size="Big "></spinner>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import Spinner from "vue-simple-spinner";

export default {
  components: { Spinner },
  computed: {
    ...mapState([
      "questions",
      "validatingProcedure",
      "questionsValidationErrors",
      "answersValidationErrors",
      "showProcedureValidation"
    ])
  },
  methods: {
    ...mapMutations([
      "toggleValidatingProcedure",
      "toggleShowValidatingProcedure",
      "clearValidationErrors"
    ]),
    onClose() {
      this.toggleShowValidatingProcedure();
      this.clearValidationErrors();
    }
  }
};
</script>