<template>
    <div class="row">
        <div :class="{'col-md-8': editing, 'questions-container': true}">
            <questions :questions="questions"></questions>
        </div>
        <transition name="slide-fade">
            <div class="col-md-4 form-container" v-if="editing">
                <answer-params-form v-if="isEditingAnswerParams && params.length > 0"></answer-params-form>
                <question-form v-if="isEditingQuestion"></question-form>

                <answer-form v-if="!isEditingAnswerParams && !isEditingQuestion"></answer-form>

            </div>
        </transition>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import Questions from '../question/Questions';
import AnswerForm from '../question/answer/AnswerForm';
import QuestionForm from '../question/QuestionForm';
import AnswerParamsForm from '../question/answer/AnswerParamsForm';

export default {
  name: 'procedure-questions',
  created() {
    this.getQuestions();
    this.getKeys();
  },
  components: { Questions, AnswerForm, QuestionForm, AnswerParamsForm },
  computed: {
    ...mapGetters(['isEditingQuestion', 'isEditingAnswerParams']),
    ...mapState(['questions', 'question', 'editing', 'params'])
  },
  methods: {
    ...mapActions(['getQuestions', 'getKeys'])
  }
};
</script>

<style scoped>
.form-container {
  padding: 0;
}

.questions-container {
  padding-left: 0;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: none;
  opacity: 0;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(150px);
  opacity: 0;
}
</style>