<template>
    <modal @hide = "handleHide" v-model = "open" ok-text = "Submit" title = "Choose questions to combine">
        <form>
            <div class = "form-group">
                <label>Question A</label>
                <select class = "form-control" v-model = "firstQuestion" autocomplete = "off">
                    <option selected disabled value = "">Select an option from the list...</option>
                    <option :value = "question.id" v-for = "(question, index) in questions" :key = "index">{{ question.title_doctor }}
                    </option>
                </select>
            </div>
            
            <div class = "form-group" v-if = "combinations.firstQuestion && !combinations.firstAnswersAll">
                <label>Select a single answer or multiple answers by holding the CTRL \ SHIFT key</label>
                <select multiple class = "form-control" v-model = "firstAnswers" autocomplete = "off">
                    <option selected :value = "answer.id" v-for = "(answer, index) in combinations.firstQuestion.answers" :key = "index">{{
                        answer.title }}
                    </option>
                </select>
            </div>
            
            <div class = "checkbox" v-show = "combinations.firstQuestion">
                <label><input type = "checkbox" v-model = "firstAnswersAll" autocomplete = "off">Select all</label>
            </div>
            
            <div class = "form-group">
                <label>Question B</label>
                <select class = "form-control" v-model = "secondQuestion" autocomplete = "off">
                    <option selected disabled value = "">Select an option from the list...</option>
                    <option :value = "question.id" v-for = "(question, index) in questions" :key = "index">{{ question.title_doctor }}
                    </option>
                </select>
            </div>
            
            <div class = "form-group" v-if = "combinations.secondQuestion && !combinations.secondAnswersAll">
                <label>Select a single answer or multiple answers by holding the CTRL \ SHIFT key</label>
                <select multiple class = "form-control" v-model = "secondAnswers" autocomplete = "off">
                    <option :value = "answer.id" v-for = "(answer, index) in combinations.secondQuestion.answers" :key = "index">{{ answer.title }}
                    </option>
                </select>
            </div>
            
            <div class = "checkbox" v-show = "combinations.secondQuestion">
                <label><input type = "checkbox" v-model = "secondAnswersAll" autocomplete = "off">Select all</label>
            </div>
        </form>
    </modal>
</template>

<script>
  import { Modal } from 'uiv';
  import { mapState, mapMutations, mapActions } from 'vuex';
  
  export default {
    components: {
      Modal,
    },
    computed: {
      ...mapState([ 'combinations', 'questions' ]),
      open: {
        get ()
        {
          return this.combinations.show;
        },
        set ()
        {
          this.toggleCombineQuestions();
        },
      },
      firstAnswers: {
        get ()
        {
          return this.combinations.firstAnswers;
        },
        set ( value )
        {
          this.setCombinationAnswers({ target: 'firstAnswers', value });
        },
      },
      secondAnswers: {
        get ()
        {
          return this.combinations.secondAnswers;
        },
        set ( value )
        {
          this.setCombinationAnswers({ target: 'secondAnswers', value });
        },
      },
      firstQuestion: {
        get ()
        {
          return this.combinations.firstQuestion
            ? this.combinations.firstQuestion.id
            : this.combinations.firstQuestion;
        },
        set ( value )
        {
          this.setCombinationQuestion({ value, target: 'firstQuestion' });
        },
      },
      secondQuestion: {
        get ()
        {
          return this.combinations.secondQuestion
            ? this.combinations.secondQuestion.id
            : this.combinations.secondQuestion;
        },
        set ( value )
        {
          this.setCombinationQuestion({ value, target: 'secondQuestion' });
        },
      },
      firstAnswersAll: {
        get ()
        {
          return this.combinations.firstAnswersAll;
        },
        set ( value )
        {
          this.selectAllCombinationAnswers('firstAnswers');
        },
      },
      secondAnswersAll: {
        get ()
        {
          return this.combinations.secondAnswersAll;
        },
        set ( value )
        {
          this.selectAllCombinationAnswers('secondAnswers');
        },
      },
    },
    methods: {
      ...mapMutations([
        'toggleCombineQuestions',
        'setCombinationQuestion',
        'resetCombinations',
        'setCombinationAnswers',
        'selectAllCombinationAnswers',
      ]),
      ...mapActions([ 'combineQuestions', 'getQuestions' ]),
      
      handleHide ( type )
      {
        if ( type === 'ok' ) {
          this.combineQuestions({
            firstQuestion: this.firstQuestion,
            secondQuestion: this.secondQuestion,
            firstAnswers: this.firstAnswers,
            secondAnswers: this.secondAnswers,
          }).then(() => {
              this.resetCombinations();
              this.getQuestions();
              this.$toasted.success('New question created!', {
                theme: 'outline',
                position: 'top-right',
                duration: 2000,
              });
            },
          ).catch(error => {
            console.error(error);
            this.$toasted.error('Something went wrong...', {
              theme: 'outline',
              position: 'top-right',
              duration: 2000,
            });
          });
        }
        else {
          this.resetCombinations();
        }
      },
    },
  }
  ;
</script>